//Clase para los "div" que tienen el nombre de un blob
.nombreBlob{
    height: 24px;
    margin-right: 5px;
    display: inline-block; 
    width: 70%;
    text-align: left;
    overflow: auto;
}

//Clase para los "div" que tienen el nombre de un container
.nombreContainer{
  height: 25px;
  margin-right: 5px;
  display: inline-block; 
  overflow: auto;
  width: 70%;
  text-align: left;
  color: 	rgb(0, 0, 0); //Color de letra
  cursor: pointer; //Cambia el cursor del mouse
  
  //Cuando el mouse pasa sobre el
  &:hover {
    text-decoration: none; //Subrayado
    color: rgb(107, 107, 107); //Color de letra
    transition: all 500ms ease-out; //Movimiento
  }

  //Cuando es seleccionado
  &:active {
    text-decoration: none; //Subrayado
    color: rgb(0, 0, 0); //Color de letra
  }
}

//Clase para los "div" que tienen el boton para descargar un blob
.descargaBtn{
    display: inline-block;
    position: relative; //Posicion
    margin-top: 0px; //Margen superior
    margin-left: 3px; //Margen izquierdo
    margin-right: 5px;
    overflow: hidden;
    
    //Clase del icono
    .fas{
      color: #ffffff; //color del icono

      //Cuando el mouse pasa sobre el
      &:hover {
        color: rgba(70, 70, 70, 0.6); //Color del icono
        transition: all 400ms ease-out; //Movimiento
      }

      //Cuando es seleccionado
      &:active {
        color: rgb(255, 255, 255); //Color del icono
      }
    }
}

//Clase para los "div" que tienen el boton para descargar un blob
.eliminarBtn{
    display: inline-block;
    position: static; //Posicion
    margin-top: 0px; //Margen superior
    margin-left: 0%; //Margen izquierdo
    overflow: hidden;
    
    //Clase del icono
    .fas{
      color: #ffffff; //color del icono

      //Cuando el mouse pasa sobre el
      &:hover {
        color: rgba(70, 70, 70, 0.6); //Color del icono
        transition: all 400ms ease-out; //Movimiento
      }

      //Cuando es seleccionado
      &:active {
        color: rgb(255, 255, 255); //Color del icono
      }
    }
}

//Clase para los botones
.button {
  background-color: rgba(113, 148, 177, 0.8); //Color de fondo
  border: none; //Sin bordes
  border-radius: 5px; //Bordes redondeados
  color: white; //Color de letra
  padding: 5px 15px; //Relleno arriba-abajo e izquierda-derecha
  text-align: center; //Texto centrado
  display: inline-block; //Forma en que se muestrar
  font-size: 16px; //Tamaño de letra
  outline: none; //Quitar el recuadro de seleccionado
  cursor: pointer; //Cambia el cursor del mouse

  &:hover {
    outline: none; //Quitar el recuadro de seleccionado
    background: rgba(50, 132, 199, 0.9); //Color de fondo
    transition: all 400ms ease-out; //Movimiento
  }

  &:active {
    outline: none; //Quitar el recuadro de seleccionado
    background: rgba(50, 132, 199, 0.6); //Color de fondo
  }

  &:focus {
    outline: none; //Quitar el recuadro de seleccionado
  }
  
  &:disabled {
    outline: none; //Quitar el recuadro de seleccionado
    background-color: rgba(113, 148, 177, 0.3); //Color de fondo
    cursor: default; //Cambia el cursor del mouse
  }

}