//Clase del "label" que contiene el nombre del blob y su checkbox
.container {
    display: inline; //Forma en que se muestrar
    position: relative; //Posicion
    padding-left: 35px; //Relleno inferior
    cursor: pointer; //Cambia el cursor del mouse

    //Cuando el mouse pasa sobre el
    &:hover input ~ .checkmark {
      background-color: rgb(145, 145, 145); //Color de fondo
    }

    //Ocultar los "input" que estan dentro del "label"
    input {
      position: absolute; //Posicion
      opacity: 0; //Transparencia
      cursor: pointer; //Cambia el cursor del mouse
      height: 0; //Altura
      width: 0; //Anchura

      /* When the checkbox is checked, add a blue background */
      //Cuando es seleccionado
      &:checked ~ .checkmark {
        background-color: #2196F3; //Color de fondo
      }

      /* Show the checkmark when checked */
      //Cuando es seleccionado
      &:checked ~ .checkmark:after {
        display: block; //Forma en que se muestrar
      }

    }

    //Clase para el "checkbox"
    .checkmark {
      position: absolute; //Posicion
      top: 0; //Posicion
      left: 0; //Posicion
      height: 23px; //Altura
      width: 23px; //Anchura
      background-color: #eee; //Color de fondo

      /* Style the checkmark/indicator */
      //Inserta algo después del contenido
      &:after {
        position: absolute; //Posicion
        left: 9px; //Posicion
        top: 4px; //Posicion
        width: 6px; //Anchura
        height: 12px; //Altura
        border: solid white; //Color del borde
        border-width: 0 3px 3px 0; //Anchura del borde (superior-derecho-inferior-izquierdo)
        transform: rotate(45deg); //Tranformar un elemento (rotar, escalar, mover, sesgar, etc.)
        content: ""; //Insertar contenido
        display: none; //Forma en que se muestrar
      }

    }

}