//Lo que cierra el menu
.content-overlay {
  position: fixed; //Posicion
  display: none; //Forma en que se muestrar
  top: 0; //Posicion
  right: 0; //Posicion
  bottom: 0; //Posicion
  left: 0; //Posicion
  background-color: rgba(0, 0, 0, 0.5); //Fondo
  z-index: 9989; //Decide quien va encima y quien debajo
  pointer-events: auto; //Define si un elemento reacciona o no a eventos de puntero
}
