//Clase para las fechas con dia, mes y año
.fecha {
  font-family: 'Arial', sans-serif; //Tipo de fuente de letra
  background-color: rgba(255, 255, 255, 0.6); //Color de fondo
  border: none; //Sin bordes
  border-radius: 5px; //Bordes redondeados
  color: black; //Color de letra
  padding-top: 5px; //Relleno superior
  padding-bottom: 5px; //Relleno inferior
  padding-left: 10px; //Relleno izquierda
  margin: 0px 0px 0px 0px; //Margenes arriba-derecha-abajo-izquierda
  display: inline-block; //Forma en que se muestrar
  font-size: 16px; //Tamaño de letra
  box-sizing: border-box; //Tamaño del input
  width: 100px; //Anchura
  outline:none; //Quitar el recuadro de seleccionado

  &:disabled{
    background-color: rgba(255, 255, 255, 0.2); //Color de fondo
    color: rgba(0, 0, 0, 0.3); //Color de letra
  }
}

//Clase para las fechas con solo el mes y el año
.fecha2 {
  font-family: 'Arial', sans-serif; //Tipo de fuente de letra
  background-color: rgba(255, 255, 255, 0.6); //Color de fondo
  border: none; //Sin bordes
  border-radius: 5px; //Bordes redondeados
  color: black; //Color de letra
  padding-top: 5px; //Relleno superior
  padding-bottom: 5px; //Relleno inferior
  padding-left: 10px; //Relleno izquierda
  margin: 0px 0px 0px 0px; //Margenes arriba-derecha-abajo-izquierda
  display: inline-block; //Forma en que se muestrar
  font-size: 16px; //Tamaño de letra
  box-sizing: border-box; //Tamaño del input
  width: 78px; //Anchura
  outline:none; //Quitar el recuadro de seleccionado

  &:disabled{
    background-color: rgba(255, 255, 255, 0.2); //Color de fondo
    color: rgba(0, 0, 0, 0.3); //Color de letra
  }
}