@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

//Cuerpo del html
body {
  font-family: 'Source Sans Pro', sans-serif; //Tipo de fuente de letra
  background-image: url("assets/bg-cloud-nevula-blue.jpg"); //Imagen de fondo
  background-repeat: no-repeat; //Evitar que se repita el fondo
  background-attachment: fixed; //El fondo se mueve con uno
  background-size: cover; //El fondo ocupa toda la ventana
}

//Clase para el "div" del titulo
.main-content__top {
  position: relative; //Posicion
  margin: -15px 0px -50px 0px; //Margenes
  width: 100%; //Ancho
  height: 58px; //Altura
  z-index: 999; //Decide quien va encima y quien debajo
  background-color: rgba(0, 0, 0, 0.5); //color de fondo
}

//Estilo del titulo
.main-content__title {
  font-family: 'Arial Black', sans-serif; //Tipo de fuente de letra
  font-size: 2.8em; //Tamaño de letra
  font-weight: bold; //Negrita
  margin: auto; //Centrado
  margin: 15px 0 15px 0px; //Margenes
  color: 	rgb(255, 255, 255); //color de la letra
}

//Clase para los "div"
.main-content__body {
  position: relative; //Posicion
  max-width: 600px; //Maxima anchura
  min-width: 370px; //Minima anchura
  margin: auto; //Centrado
  border-radius: 30px; //bordes redondeados
  background-color: rgba(0, 0, 0, 0.5); //Color de fondo
  margin-top: 80px; //Margen superior
  margin-bottom: -50px; //Margen inferior
  color: 	#FFFFFF; //Color de letra
  padding-top: 10px; //Relleno superior
  padding-right: 25px; //Relleno derecho
  padding-bottom: 20px; //Relleno inferior
  padding-left: 30px; //Relleno izquierdo
  display: block; //Forma en que se muestrar
  text-align: center; //Alinear el texto a la izquierda

  // Track
  ::-webkit-scrollbar-track {
    margin-top: 8%; //Margen superior
    margin-bottom: 8%; //Margen inferior
  }

}

//Clase para los "div" dentro de otro "div"
.main-content__body2 {
  border: none; //Sin bordes
  border-radius: 15px; //Bordes redondeados
  background-color: rgba(255, 255, 255, 0.4); //Color de fondo
  margin-top: 5px; //Margen superior
  color: 	#FFFFFF; //Color de letra
  padding-top: 10px; //Relleno superior
  padding-right: 30px; //Relleno derecho
  padding-bottom: 20px; //Relleno inferior
  padding-left: 30px; //Relleno izquierda
  overflow: auto; //Scrollbar

  // Track
  ::-webkit-scrollbar-track {
    margin-top: 8%; //Margen superior
    margin-bottom: 8%; //Margen inferior
  }

}

//Clase para los "div" dentro de otro "div" dentro de otro "div"
.main-content__body3 {
  height: 40px; //Altura
  border: none; //Sin bordes
  border-radius: 5px; //Bordes redondeados
  background-color: rgba(255, 255, 255, 0.4); //Color de fondo
  margin-top: 5px; //Margen superior
  color: 	rgb(0, 0, 0); //Color de letra
  padding: 8px 10px 0px 0px; //Relleno
  overflow: auto; //Scrollbar

  //Cuando el mouse pasa sobre el
  &:hover {
    background-color: rgba(255, 255, 255, 0.6); //Color de fondo
    transition: all 200ms ease-out; //Movimiento
  }

  //Cuando es seleccionado
  &:active {
    background-color: rgba(255, 255, 255, 0.4); //Color de fondo
  }

  // Track
  ::-webkit-scrollbar-track {
    margin-top: 8%; //Margen superior
    margin-bottom: 8%; //Margen inferior
  }

}

//Div del filtro por periodos
.filtro1 {
  width: 270px;
  height: 34px; //Altura
  border: none; //Sin bordes
  border-radius: 5px; //Bordes redondeados
  background-color: rgba(255, 255, 255, 0.4); //Color de fondo
  margin-top: 0px; //Margen superior
  color: 	rgb(0, 0, 0); //Color de letra
  padding-top: 5px; //Relleno superior
  text-align: center;
  display: inline-block;
}

//Div del filtro por dia o mes
.filtro2 {  
  width: 390px;
  height: 80px; //Altura
  border: none; //Sin bordes
  border-radius: 15px; //Bordes redondeados
  background-color: rgba(255, 255, 255, 0.4); //Color de fondo
  margin-top: 10px; //Margen superior
  color: 	rgb(0, 0, 0); //Color de letra
  padding-top: 5px; //Relleno superior
  text-align: center;
  display: inline-block;
}

//Clase para los input
.entrada {
  font-family: 'Arial', sans-serif; //Tipo de fuente de letra
  background-color: rgba(255, 255, 255, 0.6); //Color de fondo
  border: none; //Sin bordes
  border-radius: 5px; //Bordes redondeados
  color: black; //Color de letra
  padding-top: 5px; //Relleno superior
  padding-bottom: 5px; //Relleno inferior
  padding-left: 10px; //Relleno izquierda
  padding-right: 10px; //Relleno izquierda
  margin: 0px 0px 20px 0px; //Margenes arriba-derecha-abajo-izquierda
  display: inline-block; //Forma en que se muestrar
  font-size: 16px; //Tamaño de letra
  width: 100%; //Anchura
  box-sizing: border-box; //Tamaño del input
  outline:none; //Quitar el recuadro de seleccionado
}