//Ocurre cuando la pantalla es mayor a 0px
@media (min-width: 0px){
  
  //Clase del div principal
  .main-content {
    margin: 0 0 0 0; //Margenes
    width: 100%; //Ancho
  }

  //Clase del "div" donde se muestran los .vue
  #wrapper {
    padding-left: 0; //Relleno izquierdo
  }

  //El toggled y el que cierra el menu
  #wrapper.toggled .content-overlay {
    display: block; //Forma en que se muestrar
  }

  //Clase del "div" principal del menu
  .menu-container {
    width: 0; //Ancho
    left: -277px; //Posicion
  }

  //El toggled y el menu
  #wrapper.toggled .menu-container {
    width: 210px; //Ancho
    left: 277px; //Posicion
    z-index: 9999; //Decide quien va encima y quien debajo
  }

}
