// Listas
ul {
  margin: 0; //Margenes
  padding: 0; //Relleno
  list-style: none; //Propiedad abreviada utilizada para establecer todas las propiedades de la lista
}

//Clase del "div" principal del menu
.menu-container {
  z-index: 1001; //Decide quien va encima y quien debajo
  position: fixed; //Posicion
  left: 277px; //Posicion
  width: 210px; //Ancho
  height: 100%; //Altura
  margin-left: -277px; //Margen izquierdo
  overflow-y: auto; //Agrega una barra de desplazamiento si necesita
  background: transparent; //Fondo transparente
  top: 0; //Posicion
  overflow: hidden; //Oculta la barra de desplazamiento
  transition: all .5s ease; //Movimiento
}

//Clase del "ul"
.menu {
  position: fixed; //Posicion
  width: 210px; //Ancho
  height: 100%;  //Altura
  background: rgba(0, 0, 0, 0.3); //Fondo
}

//Clase del "li" superior, donde se encuentra el logo 
.menu__top {
  padding: 14px 15px 0px 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

  //Inserta algo después del contenido
  &:after {
    display: block; //Forma en que se muestrar
    content: ""; //Contenido ha insertar
    clear: both; //Coloca el contenido ha insertar debajo
  }
}

//Clase del "router-link" donde va el logo
.menu__logo {
  display: block; //Forma en que se muestrar
  margin: -15px 0px 0px -5px; //Margenes
  float: left; //Posicion del logo
}

//Clase de los "i" (iconos)
.menu__icon {
  font-size: 16px; //Tamaño de letra
  width: 16px; //Anchura
  text-align: center; //Centrar
  margin-right: 10px; //Margen derecho
}

//Clase de los links en el menu
.menu__link {
  display: block; //Forma en que se muestrar
  padding: 10px 15px 10px 15px; //Relleno
  color: #fff; //Color de letra
  text-decoration: none; //Quita el subrayado
  background: rgba(0, 0, 0, 0); //Fondo

  //Cuando el mouse pasa sobre el link
  &:hover {
    color: #fff; //Color de letra
    text-decoration: none; //Quita el subrayado
    background: rgba(0, 140, 255, 0.2); //Fondo
    transition: all 500ms ease-out; //Movimiento
  }

  //Enlaces visitados
  &:visited {
    color: #fff; //Color de letra
    text-decoration: none; //Quita el subrayado
  }
}

//Clase de los links activos en el menu
.menu__link--active {
  background: rgba(0, 140, 255, 0.4); //Fondo
}
