//Clase del link del toggle
.menu-toggle-btn {
  display: block; //Forma en que se muestrar
  position: fixed; //Posicion
  top: 10px; //Posicion
  left: 15px; //Posicion
  z-index: 1000; //Decide quien va encima y quien debajo
  color: #ffffff; //Color de letra
  background: rgba(0, 0, 0, 0.5); //Fondo
}
