.v--modal-overlay .v--modal-box{
  position: relative;
  overflow: hidden;
  background: transparent;
  border: none;
  border-radius: 30px;
}

.subirBlob{
  font-family: 'Arial Black', sans-serif;
  position: relative; //Posicion
  max-width: 800px; //Maxima anchura
  min-width: 400px; //Minima anchura
  margin: 0px; //Centrado
  border-radius: 30px; //bordes redondeados
  background-color: rgba(0, 0, 0, 0.8); //Color de fondo
  color: 	#FFFFFF; //Color de letra
  padding-top: 10px; //Relleno superior
  padding-right: 25px; //Relleno derecho
  padding-bottom: 20px; //Relleno inferior
  padding-left: 30px; //Relleno izquierdo
  display: block; //Forma en que se muestrar
  text-align: center; //Alinear el texto a la izquierda
  overflow: auto; //Scrollbar

  // Track
  ::-webkit-scrollbar-track {
    margin-top: 8%; //Margen superior
    margin-bottom: 8%; //Margen inferior
  }
}

//Clase para los "div" dentro de otro "div"
.subirBlob2 {
  height: 260px;
  border: none; //Sin bordes
  border-radius: 15px; //Bordes redondeados
  background-color: rgb(163, 163, 163); //Color de fondo
  margin-top: 5px; //Margen superior
  color: 	#FFFFFF; //Color de letra
  margin-top: 10px;
  padding-top: 10px; //Relleno superior
  padding-right: 30px; //Relleno derecho
  padding-bottom: 20px; //Relleno inferior
  padding-left: 30px; //Relleno izquierda
  overflow: auto; //Scrollbar

  // Track
  ::-webkit-scrollbar-track {
    margin-top: 8%; //Margen superior
    margin-bottom: 8%; //Margen inferior
  }

}

//Clase para los "div"
.cuadroDialog {
  font-family: 'Arial Black', sans-serif;
  position: relative; //Posicion
  max-width: 400px; //Maxima anchura
  min-width: 200px; //Minima anchura
  margin: 0px; //Centrado
  border-radius: 15px; //bordes redondeados
  background-color: rgba(0, 0, 0, 0.7); //Color de fondo
  color: 	#FFFFFF; //Color de letra
  padding-top: 10px; //Relleno superior
  padding-right: 25px; //Relleno derecho
  padding-bottom: 20px; //Relleno inferior
  padding-left: 30px; //Relleno izquierdo
  display: block; //Forma en que se muestrar
  text-align: center; //Alinear el texto a la izquierda

  // Track
  ::-webkit-scrollbar-track {
    margin-top: 8%; //Margen superior
    margin-bottom: 8%; //Margen inferior
  }

}