// Scrollbar
::-webkit-scrollbar {
    width: 8px; //Anchura
    height: 8px; //Altura
  }
  
  // Track
  ::-webkit-scrollbar-track {
    background: transparent; //Fondo
    border-radius: 4px;  //bordes redondeados
  }
  
  // Thumb
  ::-webkit-scrollbar-thumb {
    background: rgb(97, 97, 97); //Fondo
    border-radius: 4px;  //bordes redondeados
  
    &:hover{
      background: #7e7e7e; //Fondo
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); //adjunta una o más sombras
    }
  
    &:active{
      background: rgb(97, 97, 97); //color de fondo
    }
  }