//Clase del input del timeselector
.vtimeselector__input {
  width: 80%; //Anchura
  box-sizing: border-box; //Tamaño
  background: rgba(0, 0, 0, 0); //Fondo
  border: none; //Bordes
  outline:none; //Quitar el recuadro de seleccionado
}
  
//Clase del boton de limpiar del timeselector
.vtimeselector__clear {
  position: absolute; //Posicion
  display: flex; //Forma en que se muestrar
  margin-right: 10px; //Margen derecho
  justify-content: center; //Centrar
  align-items: center; //Centrar
  top: 0; //Posicion
  right: 0; //Posicion
  width: 20px; //Anchura
  height: 100%; //Altura
  cursor: pointer; //Cambia el cursor del mouse
}
  
//Clase del icono de limpiar del timeselector
.vtimeselector__clear__ico {
  display: inline-block; //Forma en que se muestrar
  width: 100%; //Anchura
  text-align: center; //Texto centrado
  vertical-align: middle; //Alinear en el medio verticalmente
  color: #000000; //Color de letra
}

//Clase para las horas
.hora {
  font-family: 'Arial', sans-serif; //Tipo de fuente de letra
  background-color: rgba(255, 255, 255, 0.6); //Color de fondo
  border: none; //Sin bordes
  border-radius: 5px; //Bordes redondeados
  color: black; //Color de letra
  padding-top: 5px; //Relleno superior
  padding-bottom: 5px; //Relleno inferior
  padding-left: 10px; //Relleno izquierda
  margin: 0px 0px 0px 0px; //Margenes arriba-derecha-abajo-izquierda
  display: inline-block; //Forma en que se muestrar
  font-size: 16px; //Tamaño de letra
  box-sizing: border-box; //Tamaño del input
  width: 110px; //Anchura
  outline:none; //Quitar el recuadro de seleccionado

  &:disabled{
    background-color: rgba(255, 255, 255, 0.2); //Color de fondo
    color: rgba(0, 0, 0, 0.3); //Color de letra
  }
}