<!--

  Plantilla de Containers
  Contiene:

    -Containers (Cada conteiner se muestra en un "div" individual, 
                 y al darle click se mostraran en otra pagina los 
                 blobs contenidos en el container)      
--> 

<template>

  <!-- Div principal de la plantilla -->  
  <div class="main-content" style="text-align: center;">

    <!-- Div del titulo -->
    <div class="main-content__top">
        <h1 class="main-content__title">
            CONTAINERS
        </h1>
    </div>

    <!-- Div de los containers --> 
    <div class="main-content__body" style="font-family: 'Arial Black', sans-serif; min-width: 400px;">

      <p style="text-align:center; font-size: 1.5em; margin-bottom: 5px;">
        <strong> Containers </strong>
        <!-- Boton para agregar otro container -->
        <button 
          type="button" 
          class="button"
          style="margin-left: 20px;"
          @click.prevent="show4()"
        >
          <i class="fas fa-plus"></i>
        </button>
      </p>

      <!-- Div donde se muestra los containers --> 
      <div class="main-content__body2" style="margin-top: 10px; height: 400px;">
        
        <!-- Div donde se muestra un container (se crean tantos como containers existan)-->
        <div 
          class='main-content__body3' 
          style="text-align: left; padding-left: 0px;" 
          v-for="n in containers.length" :key="n"
        >

          <!-- Div con el nombre del container, redirige a la pagina donde se muestran los blobs del container -->
          <div 
            class="nombreContainer" 
            style="width: 93%; text-align: center;" 
            @click.prevent="openSection(containers[n-1])"
          >
            {{containers[n - 1]}}
          </div>

          <!-- Boton para eliminar el container --> 
          <div class="eliminarBtn" style="width: 5%;">

            <a
              href="#"
              @click.prevent="selectedC = containers[n - 1], show1()"
              >
              <i class="fas fa-trash-alt"></i>
            </a>

          </div>

        </div>
        
      </div>

    </div>

    <!-- Modal para verificar que se quiere elminar el container --> 
    <!-- clickToClose, si es "false" el modal no se cerrara al dar click fuera del modal --> 
    <modal 
      name="eliminarContainer"
      height="auto"
      width="400px"
      :clickToClose="false"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >

        <br>
        Seguro de que desea eliminar el container:<br><br>
        {{selectedC}}<br><br>

        <button 
          type="button" 
          class="btn btn-danger"
          style="margin-right: 20px; width: 50px;"
          @click.prevent="hide1()"
        >
          NO
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          style="margin-left: 20px; width: 50px;"
          @click.prevent="msj='Se está eliminando el container', containersEliminar(), hide1(), show2()"
        >
          SI
        </button>

      </div>
      
    </modal>

    <!-- Modal para avisar que se ha creado o eliminado el container -->
    <modal 
      name="fin"
      height="auto"
      width="400px"
      :clickToClose="false"
    >
      <div class="cuadroDialog" >
        <br>{{msj2}}<br>
        {{selectedC}}<br><br>

        <button 
          type="button" 
          class="btn btn-success"
          @click.prevent="hide3()"
        >
          Ok
        </button>
      </div>
    </modal>

    <!-- Modal para la creacion de un nuevo container -->
    <modal 
      name="agregar"
      height="auto"
      width="400px"
      @before-open="selectedC=''"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >
        <br>
        <div style="text-align: center; font-size: 1.4em;"> Crear container </div>
        <div style="text-align: center; font-size: 0.7em; color: rgb(0, 110, 255);"> 
          El nombre del container debe tener 3 caracteres o más,
          sin espacios ni caracteres especiales.
        </div>
        <br>
        <div v-if="!containerValid"></div>
        <div 
          style="text-align: center; font-size: 0.7em; color: rgb(255, 98, 98); margin: -16px 0px 0px 110px;"
          v-else
        > 
          El container ya existe
        </div>
        <label for="Usuario" style="margin-top: 5px">container:</label>
        <input type="text" v-model="selectedC" class="entrada" style="width: 50%; margin-left: 41px;" v-on="selectedC = selectedC.replace(/[_\W]+/g, '')">
        <br><br>

        <button 
          type="button" 
          class="btn btn-success"
          disabled="disabled"
          v-if="crear || containerValid || containerValid2"
        >
          Crear
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          @click.prevent="msj='Se está creando el container' ,ContainersCrear(), hide4(), show2()"
          v-else
        >
          Crear
        </button>

      </div>
      
    </modal>

    <!-- Modal para esperar a que se cree o elimine el container -->
    <modal 
      name="esperar"
      height="auto"
      width="400px"
      :clickToClose="false"
    >

      <div class="cuadroDialog" >

        <br>
        {{msj}}<br>
        Esto puede tardar unos minutos<br>
        Por favor espere<br><br>
        <div class="loader" id="loader">Loading...</div>

      </div>
      
    </modal>

    <!-- Modal para avisar que ocurrio un error -->
    <modal 
      name="errores"
      height="auto"
      width="300px"
    >
      <div class="cuadroDialog" >
        <br>{{msjError}}<br><br>
        <button 
          type="button" 
          class="btn btn-danger"
          @click.prevent="hide5()"
        >
          Ok
        </button>
      </div>
    </modal>

  </div>

</template>

<script>

export default {
  name: 'containers',

  data () {

    return {
      hostServer: 'http://192.168.3.140:3000', //Direccion del servidor
      containers: [], //Array que contiene los nombres de los containers.
      selectedC: '', //Container seleccionado
      msj: '', //Mensaje del modal "esperar"
      msj2: '', //Mensaje del modal "fin"
      msjError: '', //Mensaje del modal "error"
    }

  },

  computed: {

    //Verifica que las casilla del container no este vacia
    crear() {
      if(this.selectedC.localeCompare("") == 0){
        return true;
      }else{
        return false;
      }
    },

    //Verifica que el container no exista
    containerValid() {
      for(let n in this.containers){
        if(this.selectedC.localeCompare(this.containers[n]) == 0){
          return true;
        }
      }
      return false;
    },

    //Verifica que el container tenga 3 o mas caracteres
    containerValid2() {
      if((this.selectedC.length < 3) || (this.selectedC.includes(" ")) ){
          return true;
      }
      return false;
    },

  },

  methods: {

    //Funcion para redirigir hacia la plantilla que contiene los blobs del container.
    openSection(item) {
      this.$router.push(`containers/${item}`);
    },

    //Metodo para mostrar el modal "eliminarContainer"
    show1: function () {
      this.$modal.show('eliminarContainer');
    },

    //Metodo para mostrar el modal "esperar"
    show2: function () {
      this.$modal.show('esperar');
    },

    //Metodo para mostrar el modal "fin"
    show3: function () {
      this.$modal.show('fin');
    },

    //Metodo para mostrar el modal "agregar"
    show4: function () {
      this.$modal.show('agregar');
    },

    //Metodo para mostrar el modal "errores"
    show5: function () {
      this.$modal.show('errores');
    },

    //Metodo para esconder el modal "eliminarContainer"
    hide1: function () {
      this.$modal.hide('eliminarContainer');
    },

    //Metodo para esconder el modal "esperar"
    hide2: function () {
      this.msj = '';
      this.$modal.hide('esperar');
    },

    //Metodo para esconder el modal "fin"
    hide3: function () {
      this.selectedC = '';
      this.$modal.hide('fin');
    },

    //Metodo para esconder el modal "agregar"
    hide4: function () {
      this.$modal.hide('agregar');
    },

    //Metodo para esconder el modal "errores"
    hide5: function () {
      this.msjError = '';
      this.$modal.hide('errores');
    },

    //Funcion para la creacion de un container.
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    //Al terminar de crear el container, actualiza el array de containers.
    ContainersCrear: async function () {

      await this.$http.post(this.hostServer + '/ContainersCrear', {
          container: this.selectedC,
      }).then(async function (response) {
          if (response.status === 200) {
            this.containers = response.body;
            this.hide2();
            this.msj2='Se ha creado el container:';
            this.show3();
          }
        }, function () {
        this.msjError = 'Error al crear el container';
        this.hide2();
        this.show5();
      });
    },

    //Funcion para eliminar un container.
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    //Al terminar de crear el container, actualiza el array de containers.
    containersEliminar: async function () {

      await this.$http.post(this.hostServer + '/containersEliminar', {
          container: this.selectedC,
      }).then(async function (response) {
          if (response.status === 200) {
            this.containers = response.body;
            this.hide2();
            this.msj2='Se ha eliminado el container:';
            this.show3();
          }
        }, function () {
        this.msjError = 'Error al eliminar el container';
        this.hide2();
        this.show5();
      });
    },

  },

  //Guarda los nombres de los containers en el array containers, 
  //despues de que la instancia sea creada.
  mounted() {

    this.$http.get(this.hostServer + '/Containers')
    .then(response => {
      if(response.status === 200) {
        this.containers = response.body
      }
    }, function () {
        this.msjError = 'Error al cargar los container';
        this.show5();
    })

  }

}

</script>
