<!--

  Plantilla de inicio
  Contiene:

    -Backups
      -Crear (Crear un backup, en una base de datos existente 
              en alguno de los servidores registrados)
      -Restaurar (Restaurar un backup, en una base de datos existente 
                  en alguno de los servidores registrados)
        -Subir (Subir el backup a restaurar)

    -Programar descargas
      -Crear (Establecer una fecha y hora para que se descargue el 
              ultimo blob creado en un container existente)

    -Descargas programadas (Visualizar las descargas programas activas que se han creado)
      
--> 

<template>

  <!-- Div principal de la plantilla --> 
  <div class="main-content" style="text-align: center;">

    <!-- Div del titulo -->
    <div class="main-content__top">
        <h1 class="main-content__title">
            INICIO
        </h1>
    </div>

    <!-- Div de las credenciales de azure --> 
    <div class="main-content__body" style="font-family: 'Arial Black', sans-serif; border-radius: 25px;">

      <div style="margin: 4px 0px -12px 20px; display: inline-block; font-size: 1.5em; overflow: hidden;">
        <strong>Credenciales</strong>
      </div>
      
      <button 
        type="button" 
        class="button"
        style="margin: 0px 0px -5px 20px; overflow: hidden;"
        @click.prevent="getCredencialesAzure(), show6()"
      >
        <i class="fas fa-edit" style="margin-right: -3px;"></i>
      </button>
      
    </div>

    <!-- Div de los backups --> 
    <div class="main-content__body" style="font-family: 'Arial Black', sans-serif; border-radius: 25px;">

      <div style="margin: 4px 0px -12px 20px; display: inline-block; font-size: 1.5em; overflow: hidden;">
        <strong>BACKUPS</strong>
      </div>
      

      <button 
        type="button" 
        class="button"
        style="margin: 0px 0px -5px 20px; overflow: hidden;"
        @click.prevent="show1()"
      >
        <i class="fas fa-plus"></i>
      </button>

      <button 
        type="button" 
        class="button"
        style="margin: 0px 0px -5px 20px; overflow: hidden;"
        @click.prevent="show2"
      >
        <i class="fas fa-undo"></i>
      </button>
      
    </div>

    <!-- Div de para revisar las descargas programadas -->
    <div class="main-content__body" style="font-family: 'Arial Black';">

      <p style="text-align:center; font-size: 1.5em;  margin-bottom: 10px;">
        <strong>Descargas Programadas</strong>
        <button 
          type="button" 
          class="button"
          style="margin-left: 20px;"
          @click.prevent="show3()"
        >
          <i class="fas fa-plus"></i>
        </button>
      </p>

      <!-- Div que contiene las descargas programadas -->
      <div class="main-content__body2" style="height: 280px;">
        
        <div 
          class='main-content__body3' 
          style="text-align: left; padding-left: 20px;" 
          v-for="n in descargas.length" :key="n"
        >

          <!-- Fecha y hora de la descarga programada -->
          <div class="nombreBlob" style="width: 87%; text-align: center;">
            {{descargas[n - 1].fecha}} - {{descargas[n - 1].hora}}
          </div>

          <!-- Boton para eliminar la descarga programada --> 
          <div class="eliminarBtn" style="width: 5%;">

            <a
              href="#"
              @click.prevent="selectDescarga = (n - 1),container = descargas[n - 1].container, fechaD = descargas[n - 1].fecha, horaD = descargas[n - 1].hora, show5()"
              >
              <i class="fas fa-trash-alt"></i>
            </a>

          </div>

          <!-- Boton para visualizar la descarga programada --> 
          <div class="descargaBtn" style="width: 5%; margin-right: 2px;">

            <a
              href="#"
              @click.prevent="container = descargas[n - 1].container, fechaD = descargas[n - 1].fecha, horaD = descargas[n - 1].hora, show4()"
              >
              <i class="fas fa-eye"></i>
            </a>

          </div>

        </div>

      </div>

    </div>  

    <br><br><br>

    <!-- Modal para la creacion de backups -->
    <modal 
      name="crearBackup"
      height="auto"
      width="400px"
      @before-close="selectedS='', selectedB=''"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >
        <div style="text-align: center; font-size: 1.4em;"> Crear backup </div>
        <br>
        
        <!-- select de los servidores registrados --> 
        Servidor:<br>
        <select  @click="getBDs()" v-model="selectedS" class="entrada" style="margin-bottom: 5px; cursor: pointer;">
          <option disabled value="">Selecione uno</option>
          <option v-for="Servidor in servidores" v-bind:value="Servidor.hostName" :key="Servidor.hostName">
            {{ Servidor.hostName }}
          </option>
        </select>

        <!-- select de las BD existentes en el servidores seleccionado -->
        Base de datos:<br>
        <select v-model="selectedB" disabled='disebled' class="entrada"  style='background-color: rgba(255, 255, 255, 0.3);' v-if="BaseDatos">
          <option disabled value="">Selecione uno</option>
        </select>

        <select v-model="selectedB" class="entrada" style="cursor: pointer;" v-else>
          <option disabled value="">Selecione uno</option>
          <option v-for="BD in BDs" v-bind:value="BD" :key="BD">
            {{ BD }}
          </option>
        </select>
        <br><br>

        <button 
          type="button" 
          class="btn btn-success"
          disabled="disabled"
          v-if="banderaCrear"
        >
          Crear
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          @click.prevent="msj='Su backup se está creando',backupBD(), show8()"
          v-else
        >
          Crear
        </button>

      </div>
      
    </modal>

    <!-- Modal para la restauracion de backups -->
    <modal 
      name="restaurarBackup"
      height="auto"
      width="400px"
      @before-close="selectedS='', selectedB='', crearBD=false"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >
        <div style="text-align: center; font-size: 1.4em;"> Restaurar backup </div>
        <br>

        <!-- select de los servidores registrados --> 
        Servidor:<br>
        <select @click="getBDs()" v-model="selectedS" class="entrada" style="margin-bottom: 5px; cursor: pointer;">
          <option disabled value="">Selecione uno</option>
          <option v-for="Servidor in servidores"  v-bind:value="Servidor.hostName" :key="Servidor.hostName">
            {{ Servidor.hostName }}
          </option>
        </select>

        <!-- select de las BD existentes en el servidores seleccionado -->
        Base de datos:<br>
        <select 
          v-model="selectedB"
          disabled='disebled' 
          class="entrada"  
          style='background-color: rgba(255, 255, 255, 0.3); margin-bottom: 0px;' 
          v-if="BaseDatos && !crearBD"
        >
          <option disabled value="">Selecione uno</option>
        </select>

        <select v-model="selectedB" class="entrada" style="cursor: pointer; margin-bottom: 0px;" v-else-if="!crearBD">
          <option disabled value="">Selecione uno</option>
          <option v-for="BD in BDs" v-bind:value="BD" :key="BD">
            {{ BD }}
          </option>
        </select>

        <input 
          type="text" 
          v-model="BaseDatosCrear" 
          class="entrada" 
          style="margin-bottom: 0px; padding-top: 3px; padding-bottom: 2px;" 
          placeholder="Base de datos" 
          v-else-if="crearBD"
          v-on="BaseDatosCrear = BaseDatosCrear.replace(/[\W]+/g, '')"
        >

        <div v-if="!bdValid"></div>
        <div 
          style="text-align: center; font-size: 0.7em; color: rgb(255, 98, 98); margin: 0px 0px 0px 0px;"
          v-else
        > 
          La BD ya existe
        </div>
    
        <div class="entrada" style="color: white; background-color: rgba(0, 0, 0, 0.5); padding-bottom: 0px; margin: 0px 0px 0px 0px;">
          <input type="checkbox" id="crearBD" style="margin-top: 10px;" v-model="crearBD" @click="BaseDatosCrear = ''"> Crear Base de datos
        </div>

        Backup:<br>
        <file-upload
          class="btn btn-primary"
          style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;"
          :post-action="link"
          accept="text/plain"
          v-model="files"
          ref="upload">
          <i class="fa fa-plus"></i>
        </file-upload>
        <div 
          class="main-content__body3" 
          style="
            width: 300px; 
            display: inline-block; 
            margin-bottom: -15px; 
            border-radius: 5px; 
            border-top-left-radius: 0px; 
            border-bottom-left-radius: 0px;
            height: 38px;
          "
        >
          <ul>
            <li v-for="file in files" :key="file.id">
              <span>{{file.name}}</span>
              <span v-if="file.error"> - {{file.error}}</span>
              <span v-else-if="file.success"> - success</span>
              <span v-else-if="file.active"> - active</span>
              <span v-else></span>
            </li>
          </ul>
        </div>

        <br><br>

        <button 
          type="button" 
          class="btn btn-success" 
          style="margin-left: 5px;"
          disabled="disabled"
          v-if="banderaSubir"
        >
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
          Subir
        </button>

        <button 
          type="button" 
          class="btn btn-success" 
          style="margin-left: 5px;"
          v-else-if="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true"
        >
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
          Subir
        </button>

        <button 
          type="button" 
          class="btn btn-success" 
          style="margin-left: 5px;"
          disabled="disabled"
          v-else
        >
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
          Subir
        </button>

        <button 
          type="button" 
          class="btn btn-info"
          style="margin-left: 5px;"
          disabled="disabled"
          v-if="banderaRestaurar || bdValid"
        >
          <i class="fas fa-file-archive" aria-hidden="true"></i>
          Restaurar
        </button>

        <button 
          type="button" 
          class="btn btn-info"
          style="margin-left: 5px;"
          @click.prevent="msj='Su backup se está restaurando', restoreBD(), show8()"
          v-else 
        >
          <i class="fas fa-file-archive" aria-hidden="true"></i>
          Restaurar
        </button>

      </div>
      
    </modal>

    <!-- Modal para crear una descarga programada -->
    <modal 
      name="programarDescarga"
      height="auto"
      width="400px"
    >

      <div 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.12);"          
      >

        <br><br><br><br><br>
        <div 
          class="main-content__body" 
          style="
            font-family: 'Arial Black', sans-serif;
            min-width: 200px; 
            max-width: 400px;
            margin: 0px;
            background-color: rgba(0, 0, 0, 0.9);"
        >
          <div style="text-align: center; font-size: 1.4em;"> Programar descarga </div>
          <br>

          <!-- select de las containers existentes -->
          Container:<br>
          <select v-model="selectedC" class="entrada" style="max-width: 270px; margin-bottom: 10px; cursor: pointer;">
            <option disabled value="">Selecione uno</option>
            <option v-for="container in containers" v-bind:value="container" :key="container">
              {{ container }}
            </option>
          </select>
          <br>
          
          <!-- Div que contiene el datepicker usado para selecionar una fecha futura o actual -->
          <div style="display: inline-block; margin-right: 30px;">

            Fecha:<br>
            <datepicker
              v-model="date"
              :format="DatePickerFormat"
              :disabledDates="disabledDates"
              input-class="fecha"
              style="color: black;">
            </datepicker>

          </div>

          <!-- Div que contiene el timeselector usado para selecionar una hora -->
          <div style="display: inline-block; margin-left: 30px;">

            Hora:<br>
            <div class="hora">
              <timeselector
              v-model="time"
              :interval="{h:1, m:1}"
              :padTime= true
              style="color: black; width: 98px; padding-right: 20px; padding-left: 12px;">
              </timeselector>
            </div>

          </div>
          <br><br>

          <button 
            type="button" 
            class="btn btn-success"
            disabled="disabled"
            v-if="banderaCrearDescarga"
          >
            Crear
          </button>

          <button 
            type="button" 
            class="btn btn-success"
            @click.prevent="crearDescargaP()"
            v-else
          >
            Crear
          </button>

        </div>
        <br><br><br><br><br><br><br><br><br>

      </div>
      
    </modal>

    <!-- Modal para ver la informacion de la descarga programada -->
    <modal 
      name="ver"
      height="auto"
      width="500px"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 300px; 
          max-width: 500px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >
        <br>
        <div style="text-align: center; font-size: 1.4em;"> Descarga Programada </div>
        <div style="text-align: right;">
          <br>
          <label for="Container" style="margin-top: 5px;"> Container:</label>
          <input type="text" disabled="disabled" v-model="container" class="entrada" style="width: 65%; margin-left: 20px; margin-right: 30px; background-color: rgba(255, 255, 255, 0.5); text-align: center; padding-left: 0px;">
          <br>
          <label for="Fecha">Fecha:</label>
          <input type="text" disabled="disabled" v-model="fechaD" class="entrada" style="width: 27%; margin-left: 20px; margin-right: 30px; background-color: rgba(255, 255, 255, 0.5);">
          
          <label for="Hora">Hora:</label>
          <input type="text" disabled="disabled" v-model="horaD" class="entrada" style="width: 16%; margin-left: 20px; margin-right: 30px; background-color: rgba(255, 255, 255, 0.5);">
          <br><br>
        </div>

      </div>
      
    </modal>

    <!-- Modal para verificar que se quiere elminar la descarga programada --> 
    <!-- clickToClose, si es "false" el modal no se cerrara al dar click fuera del modal -->
    <modal 
      name="eliminar"
      height="auto"
      width="400px"
      :clickToClose="false"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >

        <br>
        Seguro de que desea eliminar la descarga programada del container<br>
        {{container}}<br>
        para el dia {{fechaD}} a las {{horaD}}
        <br><br>

        <button 
          type="button" 
          class="btn btn-danger"
          style="margin-right: 20px; width: 50px;"
          @click.prevent="hide5()"
        >
          NO
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          style="margin-left: 20px; width: 50px;"
          @click.prevent="eliminarDescargaP()"
        >
          SI
        </button>

      </div>
      
    </modal>

    <!-- Modal para la modificacion de las credenciales -->
    <modal 
      name="credenciales"
      height="auto"
      width="600px"
      :clickToClose="false"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 400px; 
          max-width: 600px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >
        <br>
        <div style="text-align: center; font-size: 1.4em;"> Cambiar credenciales </div>
        <br>
        <label for="Cuenta" style="margin-top: 5px">Cuenta:</label>
        <input type="text" v-model="credenciales[0].cuenta" class="entrada" style="width: 70%; margin-left: 48px;">
        <br>
        <label for="Contraseña">Contraseña:</label>
        <input type="text" v-model="credenciales[0].contraseña" class="entrada" style="width: 70%; margin-left: 10px;">
        <br><br>

        <button 
          type="button" 
          class="btn btn-danger"
          style="margin-right: 20px;"
          @click.prevent="hide6()"
        >
          Cancelar
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          @click.prevent="setCredencialesAzure()"
        >
          Modificar
        </button>

      </div>
      
    </modal>

    <!-- Modal para avisar que ocurrio un error -->
    <modal 
      name="errores"
      height="auto"
      width="300px"
    >
      <div class="cuadroDialog" >
        <br>{{msjError}}<br><br>
        <button 
          type="button" 
          class="btn btn-danger"
          @click.prevent="hide7()"
        >
          Ok
        </button>
      </div>
    </modal>

    <!-- Modal para esperar -->
    <modal 
      name="esperar"
      height="auto"
      width="400px"
      :clickToClose="false"
    >

      <div class="cuadroDialog" >

        <br>
        {{msj}}<br>
        Esto puede tardar unos minutos<br>
        Por favor espere<br><br>
        <div class="loader" id="loader">Loading...</div>

      </div>
      
    </modal>

  </div>

</template>

<script>

import Datepicker from 'vuejs-datepicker' //Utilizado para seleccionar fechas
import Timeselector from 'vue-timeselector' //Utilizado para seleccionar la hora
import FileUpload from 'vue-upload-component'; //Utilizado para subir archivos
 
export default {
  name: 'inicio',

  //Componentes usados
  components: {
    Datepicker,
    Timeselector,
    FileUpload,
  },

  data () {

    return {
      hostServer: 'http://192.168.3.140:3000', //Direccion del servidor
      date: new Date, //Fecha
      DatePickerFormat: 'dd/MM/yyyy', //Formato en el que se muestra la fecha 
      time: new Date(Date.now() + 100000), //Hora actual
      selectedS: '', //Servidor seleccionado
      selectedB: '', //BD seleccionado
      selectedC: '', //Container seleccionado
      selectDescarga: -1, //Posicion en el array descargas de la descarga programada seleccionada
      containers: [], //Nombre de los containers
      descargas: [], //Descargas programadas
      files: [], //Donde se carga el backup a restaurar
      servidores: [], //servidores:[{hostName: '', ip: '', user: '', password: '',}]
      BDs: [], //Nombre de las BDs
      link: "", //Link del post del componente "FileUpload"
      container: '', //Auxiliar para ver el nombre del container de la descarga programada seleccionada
      fechaD: '', //Auxiliar para ver la fecha de descarga de la descarga programada seleccionada
      horaD: '', //Auxiliar para ver la hora de descarga de la descarga programada seleccionada
      credenciales: [{cuenta: "", contraseña:""}], //Credenciales de azure, la cuenta y su contraseña
      msjError: '', //Mensaje del modal "error"
      msj: '', //Mensaje del modal "esperar"
      crearBD: false, //Boleano para decidir si crear una nueva BD o usar una existente
      BaseDatosCrear: '', //Nombre de la BD a crear

      //Variable para deshabilitar las fechas pasadas
      disabledDates: {
        to: new Date(Date.now() - 8640000)
      },

    }

  },

  computed: {

    //Bandera para habilitar el select de las base de datos
    BaseDatos() {
      if(this.selectedS.localeCompare("") == 0){
        return true;
      }else{
        if(this.BDs.length == 0){
          this.selectedB = '';
        }
        return false;
      }
    },

    //Bandera para habilitar el boton de subir
    banderaSubir() {
      if(this.files.length == 0){
        return true;
      }else{
        return false;
      }
    },

    //Bandera para habilitar el boton de restaurar un backup
    banderaRestaurar() {
      if(this.files.length == 0 || this.selectedS.localeCompare("") == 0 || (!this.crearBD && this.selectedB.localeCompare("") == 0 || this.crearBD && this.BaseDatosCrear.localeCompare("") == 0) ){
        return true;
      }else{
        if(this.files[0].success){
          return false;
        }
      }
      return true;
    },

    //Bandera para habilitar el boton de crear un backup
    banderaCrear() {
      if(this.selectedS.localeCompare("") == 0 || this.selectedB.localeCompare("") == 0){
        return true;
      }else{
        return false;
      }
    },

    //Bandera para habilitar el boton de crear una descarga programada
    banderaCrearDescarga() {
      if(this.selectedC.localeCompare("") == 0){
        return true;
      }else{
        return false;
      }
    },

    //convertir la fecha en un string, con el formato dia/mes/año
    fecha() {
      let dia = "";
      let mes = "";
      let año = this.date.getFullYear();

      if(this.date.getDate() < 10){
        dia= "0" + this.date.getDate();
      }else{
        dia= this.date.getDate();
      }

      if(this.date.getMonth() < 10){
        mes= "0" + (this.date.getMonth() + 1);
      }else{
        mes= (this.date.getMonth() + 1);
      }

      return dia + '/' + mes + '/' + año;
    },

    //convertir la hora en un string, con el formato hora:minutos
    hora() {
      let hora = "";
      let min = "";

      if(this.time.getHours() < 10){
        hora= "0" + (this.time.getHours());
      }else{
        hora= (this.time.getHours());
      }

      if(this.time.getMinutes() < 10){
        min= "0" + (this.time.getMinutes());
      }else{
        min= (this.time.getMinutes());
      }

      return hora + ':' + min;
    },

    //Verifica que la BD no exista
    bdValid() {
      for(let BD in this.BDs){
        if(this.BaseDatosCrear.localeCompare(this.BDs[BD]) == 0){
          return true;
        }
      }
      return false;
    },

  },

  methods: {

    //Metodo para mostrar el modal "crearBackup"
    show1: function () {
      this.$modal.show('crearBackup');
    },

    //Metodo para mostrar el modal "restaurarBackup"
    show2: function () {
      this.$modal.show('restaurarBackup');
    },

    //Metodo para mostrar el modal "programarDescarga"
    show3: function () {
      this.$modal.show('programarDescarga');
    },

    //Metodo para mostrar el modal "ver"
    show4: function () {
      this.$modal.show('ver');
    },

    //Metodo para mostrar el modal "eliminar"
    show5: function () {
      this.$modal.show('eliminar');
    },

    //Metodo para mostrar el modal "credenciales"
    show6: function () {
      this.$modal.show('credenciales');
    },

    //Metodo para mostrar el modal "errores"
    show7: function () {
      this.$modal.show('errores');
    },

    //Metodo para mostrar el modal "esperar"
    show8: function () {
      this.$modal.show('esperar');
    },

    //Metodo para esconder el modal "crearBackup"
    hide1: function () {
      this.$modal.hide('crearBackup');
    },

    //Metodo para esconder el modal "restaurarBackup"
    hide2: function () {
      this.$modal.hide('restaurarBackup');
    },

    //Metodo para esconder el modal "programarDescarga"
    hide3: function () {
      this.selectedC = '';
      this.date = new Date;
      this.time = new Date(Date.now() + 100000);
      this.$modal.hide('programarDescarga');
    },

    //Metodo para esconder el modal "ver"
    hide4: function () {
      this.$modal.hide('ver');
    },

    //Metodo para esconder el modal "eliminar"
    hide5: function () {
      this.container = '';
      this.fechaD = '';
      this.horaD = '';
      this.selectDescarga = -1;
      this.$modal.hide('eliminar');
    },

    //Metodo para esconder el modal "credenciales"
    hide6: function () {
      this.credenciales = [{cuenta: "", contraseña:""}];
      this.$modal.hide('credenciales');
    },

    //Metodo para esconder el modal "errores"
    hide7: function () {
      this.msjError = '';
      this.$modal.hide('errores');
    },

    //Metodo para esconder el modal "esperar"
    hide8: function () {
      this.msj = '';
      this.$modal.hide('esperar');
    },

    //Metodo para esperar, utiliza ms, 1000ms = 1sg
    sleep: function (ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },

    //Metodo para obtener las bases de datos de un servidor couchDB
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    getBDs: function() {
      let aux=[];
      this.BDs=[];
      for(let i = 0; i < this.servidores.length; i++){
        if(this.servidores[i].hostName.localeCompare(this.selectedS) == 0){
          aux.push(this.servidores[i]);
        }
      }

      this.$http.post(this.hostServer + '/CouchdbBDs', {
        servidor: aux
      }).then(response => {
        if(response.status === 200) {
          this.BDs = response.body;
        }
      }, function () {
        this.msjError = 'Error al cargar las bases de datos';
        this.hide8();
        this.show7();
      });

    },

    //Metodo para crear un backup de una base de datos alojada en couchDB
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    backupBD: function() {
      let aux=[];
      for(let i = 0; i < this.servidores.length; i++){
        if(this.servidores[i].hostName.localeCompare(this.selectedS) == 0){
          aux.push(this.servidores[i]);
        }
      }

      this.$http.post(this.hostServer + '/CouchdbBackup/' + JSON.parse(localStorage.getItem('userXpectra')), {
        servidor: aux,
        BD: this.selectedB
      }).then(async response => {
        if(response.status === 200) {
          await this.sleep(1000);
          this.backupDescarga();
        }
      }, function () {
        this.msjError = 'Error al crear el backup';
        this.hide8();
        this.show7();
      });
      
    },

    //Metodo para descargar un backup previamente creado
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    backupDescarga: function() {
      
      this.$http.get(this.hostServer + '/Download/'+ JSON.parse(localStorage.getItem('userXpectra')) +'/'+ this.selectedB)
      .then(response => {
        if(response.status === 200) {
          let link = this.hostServer + '/Download/'+ JSON.parse(localStorage.getItem('userXpectra')) +'/'+ this.selectedB;
          this.hide1();
          this.hide8();
          window.open(link, '_self','noopener');
          this.selectedB = '';
          this.selectedS = '';
        }
      }, function () {
        this.msjError = 'Error al procesar la descarga del backup';
        this.hide8();
        this.show7();
      });
      
    },

    //Metodo para restaurar un backup de una base de datos alojada en couchDB
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    restoreBD: async function() {
      let aux=[];
      let Base="";
      for(let i = 0; i < this.servidores.length; i++){
        if(this.servidores[i].hostName.localeCompare(this.selectedS) == 0){
          aux.push(this.servidores[i]);
        }
      }

      if(this.crearBD){
        Base= this.BaseDatosCrear;
        await this.$http.post(this.hostServer + '/CouchdbCrearBD', {
          servidor: aux,
          BD: Base,
        }).then(response => {}, function () {
          this.msjError = 'Error al crear la base de datos';
          this.hide8();
          this.show7();
        });

      }else{
        Base= this.selectedB;
      }

      await this.$http.post(this.hostServer + '/CouchdbRestore/' + JSON.parse(localStorage.getItem('userXpectra')), {
        servidor: aux,
        BD: Base,
        name: this.files[0].name
      }).then(response => {
        if(response.status === 200) {
          this.hide2();
          this.hide8();
          this.BaseDatosCrear = '';
          this.$refs.upload.clear();
          this.msjError = 'Su backup se ha restaurado';
          this.show7();
        }
      }, function () {
        this.msjError = 'Error al restaurar el backup';
        this.hide8();
        this.show7();
      });
      
    },

    //Metodo para la creacion de una descarga programada
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    crearDescargaP: async function() {
      
      this.descargas.push({container: this.selectedC, fecha: this.fecha, hora: this.hora});
      await this.$http.post(this.hostServer + '/DescargasUsers/' + JSON.parse(localStorage.getItem('userXpectra')), {
        descargaP: this.descargas
      }).then(response => {
        if(response.status === 200) {
          this.hide3();
        }
      }, function () {
        this.msjError = 'Error al agregar la descarga programada';
        this.show7();
      });

      this.$http.get(this.hostServer + '/DescargasUsers/' + JSON.parse(localStorage.getItem('userXpectra')))
      .then(response => {
        if(response.status === 200) {
          this.$emit('updating');
          this.descargas = response.body
        }
      }, function () {
        this.msjError = 'Error al actualizar las descargas programadas, porfavor recargue la pagina';
        this.show7();
      });
      
    },

    //Metodo para eliminar una descarga programada del usuario
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    eliminarDescargaP: async function () {

      let aux=[];
      for(let descarga in this.descargas){
        if(descarga != this.selectDescarga){
          aux.push(this.descargas[descarga]);
        }
      }
      
      await this.$http.post(this.hostServer + '/DescargasUsers/' + JSON.parse(localStorage.getItem('userXpectra')), {
          descargaP: aux
        }).then(async function (response) {
          if (response.status === 200) {
            this.descargas = response.body;
            this.$emit('updating');
            this.hide5();
          }
        }, function () {
        this.msjError = 'Error al eliminar la descarga programada';
        this.show7();
      });

    },

    //Metodo para obtener las credenciales de azure
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    getCredencialesAzure: async function () {

      await this.$http.post(this.hostServer + '/Credenciales', {
          user: JSON.parse(localStorage.getItem('userXpectra'))
        }).then(async function (response) {
          if (response.status === 200) {
            this.credenciales = response.body;
          }
        }, function () {
        this.msjError = 'Error al obtener las credenciales';
        this.hide6();
        this.show7();
      })

    },

    //Metodo para cambiar las credenciales de azure
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    setCredencialesAzure: async function () {

      await this.$http.post(this.hostServer + '/Setcredenciales', {
          credenciales: this.credenciales
        }).then(async function (response) {
          if (response.status === 200) {
            this.hide6();
          }
        }, function () {
        this.msjError = 'Error al modificar las credenciales';
        this.show7();
      })

    },
  
  },

  //Carga los datos de los containers, servidores y descargas programadas en sus respectivos arrays, 
  //despues de que la instancia sea creada.
  mounted() {
    this.link= this.hostServer + "/SubirBackup/" + JSON.parse(localStorage.getItem('userXpectra'));

    this.$http.get(this.hostServer + '/Containers')
    .then(response => {
      if(response.status === 200) {
        this.containers = response.body
      }
    }, function () {
        this.msjError = 'Error al cargar los containers';
        this.show7();
    });

    this.$http.get(this.hostServer + '/ServidoresUsers/' + JSON.parse(localStorage.getItem('userXpectra')))
    .then(response => {
      if(response.status === 200) {
        this.servidores = response.body
      }
    }, function () {
        this.msjError = 'Error al cargar los servidores';
        this.show7();
    });

    this.$http.get(this.hostServer + '/DescargasUsers/' + JSON.parse(localStorage.getItem('userXpectra')))
    .then(response => {
      if(response.status === 200) {
        this.descargas = response.body
      }
    }, function () {
        this.msjError = 'Error al cargar las descargas programadas';
        this.show7();
    });

  },

}

</script>