<!--

  Plantilla de inicio de sesion
      
--> 

<template>

  <!-- Div principal de la plantilla --> 
  <div class="main-content__body" style="margin-top: 120px; background-color: rgba(0, 0, 0, 0.6);">
    <br>

    <!-- logo de Xpectra --> 
    <img src="/xpectra2.png" alt="icon" width="70%" height="50px">
    <br><br><br>

    <!-- Nombre de usuario -->
    <div v-if="userValid"></div>
    <div 
      style="text-align: center; font-size: 0.7em; color: rgb(255, 98, 98); margin: -16px 0px 0px 90px;"
      v-else
    > 
      El usuario no existe
    </div>
    <label for="Usuario">Usuario:</label>
    <input type="text" v-model="user" class="entrada" style="width: 50%; margin-left: 34px;" placeholder="Usuario">
    <br>
    
    <!-- Contraseña del usuario -->
    <div v-if="passValid"></div>
    <div 
      style="text-align: center; font-size: 0.7em; color: rgb(255, 98, 98); margin: -16px 0px 0px 90px;"
      v-else
    > 
      Contraseña incorrecta
    </div>
    <label for="Contraseña">Contraseña:</label>
    <input type="password" v-model="password" @keyup.enter="login()" class="entrada" style="width: 50%; margin-left: 10px;" placeholder="Contraseña">
    <br><br>

    <button 
      type="button"
      class="button"
      @click.prevent="login()"
    >
      Ingresar
    </button>
    <br>

    <!-- Modal para avisar que ocurrio un error -->
    <modal 
      name="errores"
      height="auto"
      width="300px"
    >
      <div class="cuadroDialog" >
        <br>{{msjError}}<br><br>
        <button 
          type="button" 
          class="btn btn-danger"
          @click.prevent="hide1()"
        >
          Ok
        </button>
      </div>
    </modal>

  </div>

</template>

<script>

export default {
  name: 'login',

  data() {
    return {
      hostServer: 'http://192.168.3.140:3000', //Direccion del servidor
      hostAplicacion: 'http://192.168.3.140:8080', //Direccion de la aplicacion web
      password: "", //contraseña del usuario
      user: "", //Nombre de usuario
      passValid: true, //Si la contraseña es incorecta, se vuelve false
      userValid: true, //Si el usuario no existe, se vuelve false
      msjError: '', //Mensaje del modal "error"
    };
  },

  methods: {

    //Metodo para mostrar el modal "errores"
    show1: function () {
      this.$modal.show('errores');
    },

    //Metodo para esconder el modal "errores"
    hide1: function () {
      this.msjError='';
      this.$modal.hide('errores');
    },
    
    //Metodo para verificar si el usuario y la contraseña son validos
    login: async function () {
      await this.$http.post(this.hostServer + '/Login', {
        password: this.password,
        user: this.user
      }).then(async function (response) {
        if (response.status === 200) {
          window.bus.$emit('iniciar', this.user, this.password);
        }else if(response.status === 201) {
          this.passValid = false;
          this.userValid = true;
        }else if(response.status === 202) {
          this.userValid = false;
          this.passValid = true;
        }
      }, function () {
        this.msjError = 'Error al comunicarse con el servidor';
        this.show1();
      });
    }

  }
}

</script>