<!--

  Plantilla de Usuarios (Solo visible para el administrador)
  Contiene:

    -Usuarios (Visualizar los usuarios registrados)
      -Agregar (Registrar un nuevo usuario)
      -Eliminar (Eliminar un usuario existente)
      -Modificar (Cambiar permisos del usuario (que containers puede ver))
      
--> 

<template>

  <!-- Div principal de la plantilla --> 
  <div class="main-content" style="text-align: center;">

    <!-- Div del titulo -->
    <div class="main-content__top">
        <h1 class="main-content__title">
            USUARIOS
        </h1>
    </div>

    <!-- Div de los usuarios -->
    <div class="main-content__body" style="font-family: 'Arial Black', sans-serif; min-width: 400px;">

      <!-- Div del sub-titulo -->
      <p style="text-align:center; font-size: 1.5em;  margin-bottom: 5px;">
          <strong>Usuarios</strong>
          <!-- Boton para agregar otro usuario -->
          <button 
            type="button" 
            class="button"
            style="margin-left: 20px;"
            @click.prevent="show2()"
          >
            <i class="fas fa-plus"></i>
          </button>
      </p>

      <!-- Div donde se muestran los usuarios -->
      <div class="main-content__body2" style="margin-top: 10px; height: 400px;">

        <!-- Div donde se muestra un usuario -->
        <div 
          class="main-content__body3" 
          style="padding-left: 35px; text-align: right;"
          v-for="n in usuarios.length" 
          :key="n"
        >

          <!-- Nombre de usuario -->
          <div style="text-align: center; overflow: hidden; display: inline-block; width: 80%">
            {{usuarios[n - 1].user}}
          </div>

          <!-- Boton para eliminar un usuario --> 
          <div class="eliminarBtn" style="width: 5%;">

            <a v-if="(n == 1)"></a>

            <a
              href="#"
              v-else
              @click.prevent="selectUser=usuarios[n - 1].user, show1()"
              >
              <i class="fas fa-trash-alt"></i>
            </a>

          </div>

          <!-- Boton para mostrar y asignar containers al usuario --> 
          <div class="descargaBtn" style="width: 5%; margin-right: 2px;">

            <a v-if="(n == 1)"></a>

            <a
              href="#"
              v-else
              @click.prevent="selectUser=usuarios[n - 1].user, getContainersUsuario()"
              >
              <i class="fas fa-box"></i>
            </a>

          </div>

          <!-- Boton para modificar la contraseña del usuario --> 
          <div class="descargaBtn" style="width: 5%;">

            <a
              href="#"
              @click.prevent=" user=selectUser=usuarios[n - 1].user, password=usuarios[n - 1].password, show3()"
              >
              <i class="fas fa-edit"></i>
            </a>

          </div>

        </div>

      </div>

    </div>

    <!-- Modal para verificar que se quiere elminar el usuario --> 
    <!-- clickToClose, si es "false" el modal no se cerrara al dar click fuera del modal --> 
    <modal 
      name="eliminar"
      height="auto"
      width="400px"
      :clickToClose="false"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >

        <br>
        Seguro de que desea eliminar el usuario:<br><br>
        {{selectUser}}<br><br>

        <button 
          type="button" 
          class="btn btn-danger"
          style="margin-right: 20px; width: 50px;"
          @click.prevent="hide1()"
        >
          NO
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          style="margin-left: 20px; width: 50px;"
          @click.prevent="eliminarUsuario()"
        >
          SI
        </button>

      </div>
      
    </modal>

    <!-- Modal para la creacion de un nuevo usuario -->
    <modal 
      name="agregar"
      height="auto"
      width="400px"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >
        <br>
        <div style="text-align: center; font-size: 1.4em;"> Crear usuario </div>
        <br>
        <div v-if="!userValid && !userValid2"></div>
        <div 
          style="text-align: center; font-size: 0.7em; color: rgb(255, 98, 98); margin: -16px 0px 0px 110px;"
          v-else-if="userValid"
        > 
          El usuario ya existe
        </div>
        <div 
          style="text-align: center; font-size: 0.7em; color: rgb(255, 98, 98); margin: -16px 0px 0px 110px;"
          v-else-if="userValid2"
        > 
          No utilice ' - '
        </div>
        <label for="Usuario" style="margin-top: 5px">Usuario:</label>
        <input type="text" v-model="user" class="entrada" style="width: 50%; margin-left: 41px;" v-on="user = user.replace(/[_\W]+/g, '')">
        <br>
        <label for="Contraseña">Contraseña:</label>
        <input type="text" v-model="password" class="entrada" style="width: 50%; margin-left: 10px;">
        <br><br>

        <button 
          type="button" 
          class="btn btn-success"
          disabled="disabled"
          v-if="crear || userValid || userValid2"
        >
          Crear
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          @click.prevent="crearUsuario()"
          v-else
        >
          Crear
        </button>

      </div>
      
    </modal>

    <!-- Modal para cambiar la contraseña de un usuario -->
    <modal 
      name="modificar"
      height="auto"
      width="400px"
      :clickToClose="false"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >
        <br>
        <div style="text-align: center; font-size: 1.4em;"> Modificar usuario </div>
        <br>
        <label for="Usuario">Usuario:</label>
        <input type="text" disabled="disabled" v-model="user" class="entrada" style="width: 50%; margin-left: 41px; background-color: rgba(255, 255, 255, 0.3);">
        <br>
        <label for="Contraseña">Contraseña:</label>
        <input type="text" v-model="password" class="entrada" style="width: 50%; margin-left: 10px;">
        <br><br>

        <button 
          type="button" 
          class="btn btn-danger"
          style="margin-right: 20px; width: 110px;"
          @click.prevent=" user='', password='', hide3()"
        >
          Cancelar
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          style="margin-left: 20px; width: 110px;"
          @click.prevent="modificarUsuario()"
        >
          Aceptar
        </button>

      </div>
      
    </modal>

    <!-- Modal para mostrar y asignar containers al usuario -->
    <modal 
      name="containers"
      height="auto"
      width="600px"
      :clickToClose="false"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 600px; 
          max-width: 800px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >
        <br>
        <div style="text-align: center; font-size: 1.4em;"> Containers </div>
        <br>
        <div class='main-content__body2' style="overflow: auto; height: 200px">

          <div 
            class='main-content__body3' 
            style="text-align: left; padding-left: 20px;" 
            v-for="n in containers.length" :key="n"
          >
            <input type="checkbox" :id="n" :value="containers[n - 1]" v-model="containersU">
            <label for="jack" style="margin-left: 5px;">{{containers[n - 1]}}</label>
          </div>
          
        </div>
        <br>

        <button 
          type="button" 
          class="btn btn-danger"
          style="margin-right: 20px; width: 110px;"
          @click.prevent=" user='', password='', containersU=[] ,hide4()"
        >
          Cancelar
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          style="margin-left: 20px; width: 110px;"
          @click.prevent="setContainersUsuario()"
        >
          Aceptar
        </button>

      </div>
      
    </modal>

    <!-- Modal para avisar que ocurrio un error -->
    <modal 
      name="errores"
      height="auto"
      width="300px"
    >
      <div class="cuadroDialog" >
        <br>{{msjError}}<br><br>
        <button 
          type="button" 
          class="btn btn-danger"
          @click.prevent="hide5()"
        >
          Ok
        </button>
      </div>
    </modal>

  </div>

</template>

<script>

export default {
  name: 'usuarios',

  data() {
    return {
      hostServer: 'http://192.168.3.140:3000', //Direccion del servidor
      usuarios: [], //usuarios: [{user: "", password: ""}]
      selectUser: "", //Usuario seleccionado
      user: "", //Nombre de usuario
      password: "", //Contraseña del usuario
      containers: [], //Array de los containers existentes en azure
      containersU: [], //array de los containers que puede ver el usuario
      msjError: '', //Mensaje del modal "error"
    };
  },

  computed: {

    //Verifica que las casillas de usuario y contraseña no esten vacias
    crear() {
      if(this.user.localeCompare("") == 0 || this.password.localeCompare("") == 0){
        return true;
      }else{
        return false;
      }
    },

    //Verifica que el nombre de usuario no exista
    userValid() {
      for(let n in this.usuarios){
        if(this.user.localeCompare(this.usuarios[n].user) == 0){
          return true;
        }
      }
      return false;
    },

    //Verifica que el nombre de usuario no contenga "-"
    userValid2() {
      if(this.user.includes("-")){
          return true;
      }
      return false;
    },

  },

  methods: {

    //Metodo para mostrar el modal "eliminar"
    show1: function () {
      this.$modal.show('eliminar');
    },

    //Metodo para mostrar el modal "agregar"
    show2: function () {
      this.$modal.show('agregar');
    },

    //Metodo para mostrar el modal "modificar"
    show3: function () {
      this.$modal.show('modificar');
    },

    //Metodo para mostrar el modal "containers"
    show4: function () {
      this.$modal.show('containers');
    },

    //Metodo para mostrar el modal "errores"
    show5: function () {
      this.$modal.show('errores');
    },

    //Metodo para esconder el modal "eliminar"
    hide1: function () {
      this.$modal.hide('eliminar');
    },

    //Metodo para esconder el modal "agregar"
    hide2: function () {
      this.$modal.hide('agregar');
    },

    //Metodo para esconder el modal "modificar"
    hide3: function () {
      this.$modal.hide('modificar');
    },

    //Metodo para esconder el modal "containers"
    hide4: function () {
      this.$modal.hide('containers');
    },

    //Metodo para esconder el modal "errores"
    hide5: function () {
      this.msjError='';
      this.$modal.hide('errores');
    },

    //Metodo para la creacion de un usuario
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    crearUsuario: async function () {
      await this.$http.post(this.hostServer + '/Usuarios', {
          password: this.password,
          user: this.user
        }).then(async function (response) {
          if (response.status === 200) {
            this.usuarios = response.body
            this.password = "";
            this.user = "";
            this.hide2();
          }
        }, function () {
          this.msjError = 'Error al crear al usuario';
          this.hide2();
          this.show5();
      });
    },

    //Metodo para la eliminacion de un usuario
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    eliminarUsuario: async function () {
      
      await this.$http.post(this.hostServer + '/UsuariosE', {
          user: this.selectUser
        }).then(async function (response) {
          if (response.status === 200) {
            this.usuarios = response.body
            this.hide1()
          }
        }, function () {
          this.msjError = 'Error al eliminar al usuario';
          this.hide1();
          this.show5();
      });

    },

    //Metodo para cambiar la contraseña de un usuario
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    modificarUsuario: async function () {
      await this.$http.post(this.hostServer + '/UsuariosM', {
          password: this.password,
          user: this.user
        }).then(async function (response) {
          if (response.status === 200) {
            this.usuarios = response.body
            this.password = "";
            this.user = "";
            this.hide3()
          }
        }, function () {
          this.msjError = 'Error al modificar al usuario';
          this.hide3();
          this.show5();
      });
    },

    //Metodo para obtener los containers que puede ver un usuario
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    getContainersUsuario: async function () {

      await this.$http.get(this.hostServer + '/ContainersUsers/' + this.selectUser)
      .then(async function (response) {
          if (response.status === 200) {
            this.containersU = response.body;
            this.show4();
          }
        }, function () {
          this.msjError = 'Error al cargar los containers del usuario';
          this.show5();
      });
    },

    //Metodo para actualizar que container puede ver un usuario
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    setContainersUsuario: async function () {

      await this.$http.post(this.hostServer + '/ContainersUsers/' + this.selectUser, {
          containers: this.containersU,
      }).then(async function (response) {
          if (response.status === 200) {
            this.containersU=[];
            this.hide4();
          }
        }, function () {
          this.msjError = 'Error al actualizar los containers del usuario';
          this.hide4();
          this.show5();
      });
    },

  },

  //Guarda los usuarios en el array usuarios y los containers en el array containers,
  //despues de que la instancia sea creada.
  mounted() {

    this.$http.get(this.hostServer + `/Usuarios`)
    .then(response => {
      if(response.status === 200) {
        this.usuarios = response.body
      }
    }, function () {
        this.msjError = 'Error al cargar los usuarios';
        this.show5();
    });

    this.$http.get(this.hostServer + '/Containers')
    .then(response => {
      if(response.status === 200) {
        this.containers = response.body
      }
    }, function () {
        this.msjError = 'Error al cargar los containers';
        this.show5();
    });

  },

}

</script>
