<!--

  Plantilla del fondo de apoyo del menu
    -Permite cerrar el menu
      
--> 

<template>

  <div
  @click.prevent="closeMobileMenu"
  class="content-overlay"
  ></div>

</template>

<script>

export default {

   methods: {

    closeMobileMenu() {
      window.bus.$emit('menu/toggle');
    },

  },

};

</script>
