<!--

  Plantilla del menu
    -Permite visualizar el menu
    -Permite navegar por las plantillas
      
--> 

<template>

  <div class="menu-container">

    <ul class="menu">

      <li class="menu__top">
        <label class="menu__logo">
          <img src="/xpectra.png" alt="icon" width="107.5%" height="58px" style="opacity: 0.9">
        </label>
      </li>

      <li>
        <a
        href="#"
        @click.prevent="updateMenu('inicio')"
        :class="highlightSection('inicio')"
        >
            <i class="fa fa-home menu__icon" aria-hidden="true"></i>
            Inicio
        </a>
      </li>

      <li>
        <a
        href="#"
        @click.prevent="updateMenu('containers')"
        :class="highlightSection('containers')"
        >
          <i class="fas fa-box menu__icon" aria-hidden="true"></i>
          Containers
        </a>
      </li>

      <li>
        <a
        href="#"
        @click.prevent="updateMenu('servidores')"
        :class="highlightSection('servidores')"
        >
          <i class="fas fa-server menu__icon" aria-hidden="true"></i>
          Servidores
        </a>
      </li>

      <li>
        <a
        href="#"
        @click.prevent="updateMenu('usuarios')"
        :class="highlightSection('usuarios')"
        >
          <i class="fa fa-users menu__icon" aria-hidden="true"></i>
          Usuarios
        </a>
      </li>

      <li>
        <a
        href="#"
        @click.prevent="logout()"
        :class="highlightSection('salir')"
        >
          <i class="fas fa-sign-out-alt menu__icon" aria-hidden="true"></i>
          Salir
        </a>
      </li>

    </ul>

  </div>

</template>

<script>
import menuData from './support/menu-data';

export default {
  name: 'Menu',

  data(){
    return {
      menuItens: [],
      menuData: menuData,
      activeSubMenu: '',
    }
  },

  methods: {

    logout: function () {
      window.bus.$emit('finalizar');
    },

    updateMenu(context) {
      this.menuItens = this.menuData[context];

      if (context === 'inicio') {
        this.$router.push('/inicio');
        window.bus.$emit('menu/closeMobileMenu');
      }
      if (context === 'containers') {
        this.$router.push('/containers');
        window.bus.$emit('menu/closeMobileMenu');
      }
      if (context === 'servidores') {
        this.$router.push('/servidores');
        window.bus.$emit('menu/closeMobileMenu');
      }
      if (context === 'usuarios') {
        this.$router.push('/usuarios');
        window.bus.$emit('menu/closeMobileMenu');
      }
    },

    highlightSection(section) {
      return {
        'menu__link': true,
        'menu__link--active': section === this.contextSection,
      };
    },

  },

  computed: {

    contextSection() {
      return this.$route.name
    },

    showContextMenu() {
      return this.menuItens.length;
    },
  }

}
</script>
