<!--

  Plantilla de Containers
  Contiene:

    -Containers (Cada conteiner se muestra en un "div" individual, 
                 y al darle click se mostraran en otra pagina los 
                 blobs contenidos en el container)      
--> 

<template>

  <!-- Div principal de la plantilla -->  
  <div class="main-content" style="text-align: center;">

    <!-- Div del titulo -->
    <div class="main-content__top">
        <h1 class="main-content__title">
            CONTAINERS
        </h1>
    </div>

    <!-- Div de los containers --> 
    <div class="main-content__body" style="font-family: 'Arial Black', sans-serif; min-width: 400px;">

      <p style="text-align:center; font-size: 1.5em; margin-bottom: 5px;">
        <strong> Containers </strong>
      </p>

      <!-- Div donde se muestra los containers --> 
      <div class="main-content__body2" style="margin-top: 10px; height: 400px;">
        
        <!-- Div donde se muestra un container (se crean tantos como containers existan)-->
        <div 
          class='main-content__body3' 
          style="text-align: left; padding-left: 0px;" 
          v-for="n in containers.length" :key="n"
        >

          <!-- Div con el nombre del container, redirige a la pagina donde se muestran los blobs del container -->
          <div 
            class="nombreContainer" 
            style="width: 98%; text-align: center;" 
            @click.prevent="openSection(containers[n-1])"
          >
            {{containers[n - 1]}}
          </div>

        </div>
        
      </div>

    </div>

    <!-- Modal para avisar que ocurrio un error -->
    <modal 
      name="errores"
      height="auto"
      width="300px"
    >
      <div class="cuadroDialog" >
        <br>{{msjError}}<br><br>
        <button 
          type="button" 
          class="btn btn-danger"
          @click.prevent="hide5()"
        >
          Ok
        </button>
      </div>
    </modal>

  </div>

</template>

<script>

export default {
  name: 'containersU',

  data () {

    return {
      hostServer: 'http://192.168.3.140:3000', //Direccion del servidor
      containers: [], //Array que contiene los nombres de los containers.
      selectedC: '', //Container seleccionado
      msj: '', //Mensaje del modal "esperar"
      msj2: '', //Mensaje del modal "fin"
      msjError: '', //Mensaje del modal "error"
    }

  },

  methods: {

    //Funcion para redirigir hacia la plantilla que contiene los blobs del container.
    openSection(item) {
      this.$router.push(`containersU/${item}`);
    },
    
    //Metodo para mostrar el modal "errores"
    show5: function () {
      this.$modal.show('errores');
    },

    //Metodo para esconder el modal "errores"
    hide5: function () {
      this.msjError = '';
      this.$modal.hide('errores');
    },

  },

  //Guarda los nombres de los containers en el array containers, 
  //despues de que la instancia sea creada.
  mounted() {

    this.$http.get(this.hostServer + '/ContainersUsers/' + JSON.parse(localStorage.getItem('userXpectra')))
    .then(response => {
      if(response.status === 200) {
        this.containers = response.body
      }
    }, function () {
        this.msjError = 'Error al cargar los container';
        this.show5();
    })

  }

}

</script>
