<!--

  Plantilla de los blob de un Container
  Contiene:

    -Blobs (Cada blob se muestra en un "div" individual)
      -Descargar (Cada blob tiene un boton que permite su descarga)
      -Eliminar (Cada blob tiene un boton que permite su eliminacion,
                 tambien se pueden selecionar varios blobs para ser 
                 eliminados todos juntos)
      -Subir (Permite subir archivos que seran comprimidos en un .tar.gz
              o un archivo .tar.gz dentro del container)
      
--> 
<template>

  <!-- Div principal de la plantilla --> 
  <div class="main-content" style="text-align: center;">

    <!-- Div del titulo -->
    <div class="main-content__top">
        <h1 class="main-content__title">
            CONTAINERS
        </h1>
    </div>

    <!-- Div de los blobs del container --> 
    <div class="main-content__body" style="font-family: 'Arial Black', sans-serif; min-width: 400px; max-width: 800px;">

      <!-- Boton para regresar a la plantilla containers -->
      <div style="position: absolute;">
        <button 
          type="button" 
          class="button"
          style="
            margin: -10px 0px 0px -30px; 
            padding: 7px 7px 4px 8px; 
            border-radius: 30px 0px 0px 0px;"
          @click.prevent="$router.push('/containersU')"
        >
          <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
        </button>
      </div>
      
      <!-- Div del sub-titulo -->
      <p style="text-align:center; font-size: 1.5em; margin-bottom: 5px;">
        <strong>{{sectionName}}</strong>
      </p>

      <!-- Div de los botones borrar, recargar y subir -->
      <div style="text-align: center;">
        
        <div style="display: inline-block;">
          
          <!-- Boton para recargar los blobs -->
          <button 
            type="button" 
            class="button"
            style="margin: 0px 5px 0px 5px;"
            @click.prevent="msjEsperar='Se están recargando los blobs', show1(), refrescar()"
          >
            <i class="fas fa-redo"></i>
          </button>

          <!-- Boton para subir un blob -->
          <button 
            type="button" 
            class="button"
            style="margin: 0px 10px 0px 5px;"
            @click.prevent="show()"
          >
            <i class="fas fa-upload"></i>
          </button>

        </div>

        <!-- Div de los filtros por periodo(dly, wk, mth) -->
        <div class="filtro1">

          Filtro:
          <input 
            type="checkbox" 
            id="mth" 
            value="mth"
            style="margin: 0px 5px 0px 5px;"
            v-model="selectedPeriodo"
          >
          <label for="mth">mth</label>

          <input 
            type="checkbox" 
            id="dly" 
            value="dly"
            style="margin: 0px 5px 0px 10px;"
            v-model="selectedPeriodo"
          >
          <label for="dly">dly</label>

          <input 
            type="checkbox" 
            id="wk" 
            value="wk"
            style="margin: 0px 5px 0px 10px;"
            v-model="selectedPeriodo"
          >
          <label for="wk">wk</label>
        
        </div>

      </div>

      <!-- Div de el filtro por dia o mes -->
      <div class="filtro2">

        Filtrar por:

        <input 
          type="radio" 
          id="one" 
          value="one"
          style="margin: 0px 0px 0px 5px;"
          v-model="picked"
        >
        <label for="one">Ninguno</label>

        <input 
          type="radio" 
          id="two" 
          value="two"
          style="margin: 0px 0px 0px 10px;"
          v-model="picked"
        >
        <label for="two">Dia</label>

        <input 
          type="radio" 
          id="three" 
          value="three"
          style="margin: 0px 0px 0px 10px;"
          v-model="picked"
        >
        <label for="three">Mes</label>

        <br>
      
        <div id="datepickers" style="display: inline-block;">

          <datepicker
            v-model="fecha"
            :format="DatePickerFormat"
            input-class="fecha"
            :disabled="true"
            style="color: black;"
            v-if="fechaInicio">
          </datepicker>

          <datepicker
            v-model="fecha"
            :format="DatePickerFormat"
            input-class="fecha"
            style="color: black;"
            v-else-if="!fechaInicio & fechaFinal">
          </datepicker>

          <datepicker
            v-model="fecha"
            :format="DatePickerFormat"
            input-class="fecha2"
            style="color: black;"
            minimum-view="month"
            v-else>
          </datepicker>

        </div>

      </div>

      <br>

      <!-- Div donde se muestra los blobs --> 
      <div class="main-content__body2" style="margin-top: 10px; height: 350px;">
        
        <!-- Div donde se muestra un blob (se crean tantos div como blob existan)--> 
        <div class="main-content__body3" style="text-align: right;" v-for="n in filtrarBlobs.length" :key="n">
          
          <!-- Nombre del blob -->
          <div class="nombreBlob" style="width: 85%;">
            {{n}}.  {{filtrarBlobs[n - 1]}}
          </div>

          <!-- Boton de descarga del blob --> 
          <div class="descargaBtn" style="width: 5%;">
            <a
              href="#"
              @click.prevent="descargarB(filtrarBlobs[n - 1])"
              >
              <i class="fas fa-download" aria-hidden="true"></i>
            </a>
          </div>
        
        </div>

      </div>

    </div>

    <!-- Modal para subir un blob a azure -->
    <modal 
      name="subirBlob"
      height="auto"
      width="600px"
      :adaptive="true"
    >
       
      <div 
        class="subirBlob"
      >

        <p style="text-align:center; font-size: 1.5em; margin-bottom: 5px;">
          <strong> Subir Blob </strong>
        </p>

        <div class="example-btn" style="text-align: center;">

          <file-upload
            class="btn btn-primary"
            :post-action="link"
            :multiple="true"
            :drop="true"
            :drop-directory="true"
            v-model="files"
            ref="upload">
            <i class="fa fa-plus"></i>
            Seleccionar
          </file-upload>

          <button 
            type="button" 
            class="btn btn-success" 
            style="margin-left: 5px;"
            disabled="disabled"
            v-if="banderaLimpiar"
          >
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
            Subir
          </button>

          <button 
            type="button" 
            class="btn btn-success" 
            style="margin-left: 5px;"
            v-else-if="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true"
          >
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
            Subir
          </button>

          <button 
            type="button" 
            class="btn btn-danger"  
            style="margin-left: 5px;"
            v-else @click.prevent="$refs.upload.active = false"
          >
            <i class="fa fa-stop" aria-hidden="true"></i>
            Detener
          </button>
          
          <button 
            type="button" 
            class="btn btn-info"
            style="margin-left: 5px;"
            disabled="disabled"
            v-if="banderaGuardar"
          >
            <i class="fas fa-file-archive" aria-hidden="true"></i>
            Guardar
          </button>

          <button 
            type="button" 
            class="btn btn-info"
            style="margin-left: 5px;"
            @click.prevent="msjEsperar='Se está guardando el blob', guardar(), show1()"
            v-else 
          >
            <i class="fas fa-file-archive" aria-hidden="true"></i>
            Guardar
          </button>

          <button 
            type="button" 
            class="btn btn-danger"
            style="margin-left: 5px;"
            disabled="disabled"
            v-if="banderaLimpiar"
          >
            <i class="fas fa-times" aria-hidden="true"></i>
            Limpiar
          </button>

          <button 
            type="button" 
            class="btn btn-danger"
            style="margin-left: 5px;"
            @click.prevent="$refs.upload.clear()"
            v-else 
          >
            <i class="fas fa-times" aria-hidden="true"></i>
            Limpiar
          </button>

        </div>
      
        <div style="text-align: center; margin: 15px 0px 0px 0px">

          Periodo:
          <select v-model="selected" class="entrada" style="margin-right: 15px; margin-bottom: 5px; cursor: pointer; width: 120px;">
            <option disabled value="">Selecionar</option>
            <option v-for="Periodo in Periodos" v-bind:value="Periodo" :key="Periodo">
              {{ Periodo }}
            </option>
          </select>

          Nombre:
          <input type="text" v-model="nombre" class="entrada" style="width: 30%; margin-left: 0px; margin-bottom: 5px;" v-on="nombre = nombre.replace(/[_\W]+/g, '')">
        
        </div>

        <div class="subirBlob2">
          
          <ul v-if="files.length">
            
            <div 
              class="main-content__body3" 
              style="
                text-align: right; 
                padding-left: 35px;"
              v-for="file in files" 
              :key="file.id"
            >

              <div class="nombreBlob" style="width: 85%;">
                <span>{{file.name}}</span>
                <span v-if="file.error"> - {{file.error}}</span>
                <span v-else-if="file.success"> - success</span>
                <span v-else-if="file.active"> - active</span>
                <span v-else></span>
              </div>

              <div class="eliminarBtn" style="width: 5%; margin: 0px 10px 0px 5px;">

                <a
                  href="#"
                  @click.prevent="$refs.upload.remove(file)"
                  >
                  <i class="fas fa-times" aria-hidden="true"></i>
                </a>

              </div>

            </div>

          </ul>

          <ul v-else>

            <div class="text-center p-5">
              <h4>Suelte los archivos a subir<br/>o</h4>
              <label for="file" class="btn btn-lg btn-primary" style="margin-left: 17px; margin-bottom: -16px;">Seleccionar</label>
            </div>

          </ul>

          <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
            <h3>Drop files to upload</h3>
          </div>

        </div>

      </div>

    </modal>

    <!-- Modal para esperar a que se suba el blob-->
    <modal 
      name="esperar"
      height="auto"
      width="400px"
      :clickToClose="false"
    >

      <div class="cuadroDialog" >

        <br>
        {{msjEsperar}}<br>
        Esto puede tardar unos minutos<br>
        Por favor espere<br><br>
        <div class="loader" id="loader">Loading...</div>

      </div>
      
    </modal>

    <!-- Modal para avisar que el blob se ha subido -->
    <modal 
      name="guardado"
      height="auto"
      width="400px"
    >
      <div class="cuadroDialog" >
        <br>Se ha guardado el blob correctamente<br>
        <br>{{blobGuardado}}<br><br>
        <button 
          type="button" 
          class="btn btn-success"
          @click.prevent="hide2()"
        >
          Ok
        </button>
      </div>
    </modal>

    <!-- Modal para avisar que ocurrio un error -->
    <modal 
      name="errores"
      height="auto"
      width="300px"
    >
      <div class="cuadroDialog">
        <br> {{msjError}} <br><br>
        <button 
          type="button" 
          class="btn btn-danger"
          @click.prevent="hide3()"
        >
          Ok
        </button>
      </div>
    </modal>

  </div>

</template>

<script>
import startCase from 'lodash/startCase'; //Utilizado para acomodar el string en forma de titulo.
import FileUpload from 'vue-upload-component'; //Utilizado para subir archivos
import Datepicker from 'vuejs-datepicker'; //Utilizado para seleccionar fechas

export default {
  name: 'dynamicContainersU',

  components: {
    FileUpload,
    Datepicker,
  },

  data () {

    return {
      hostServer: 'http://192.168.3.140:3000', //Direccion del servidor
      blobs: [], //Array que contiene los nombres de los blobs almacenados en el container.
      selectBlobs: [], //Array que contiene los nombres de los blobs selecionados.
      selectBlob: '', //Blob selecionado
      files: [], //Array de los archivos
      link: "", //Link del post del componente "FileUpload"
      selected: '', //Periodo seleccionado
      Periodos: [ 'mth', 'dly', 'wk' ], //Nombre de los periodos
      selectedPeriodo: [], //Periodo selecionado
      picked: "one", //Utilizado para indicar que filtro de fecha se escogio (ninguno, dia o mes)
      fecha: new Date(), //Fecha
      blobGuardado: "", //Guarda el nombre del blob subido
      msjError: '', //Mensaje del modal "error"
      msjEsperar: '', //Mensaje del modal "error"
      nombre: '', //nombre del blob a crear
    }

  },

  computed: {

    //Propiedad calculada para el titulo.
    sectionName() {
      return startCase(this.$route.params.sectionSlug);
    },

    //Formato en el que se muestra la fecha 
    DatePickerFormat(){
      if(this.picked.localeCompare("one") == 0){
        return 'dd/MM/yyyy';
      }else if(this.picked.localeCompare("two") == 0){
        return 'dd/MM/yyyy';
      }else{
        return 'MM/yyyy';
      }
    },

    //Propiedad calculada para habilitar el filtro por dia
    fechaInicio(){
      if(this.picked.localeCompare("one") == 0){
        return true;
      }else{
        return false;
      }
    },

    //Propiedad calculada para habilitar el filtro por mes
    fechaFinal(){
      if(this.picked.localeCompare("one") == 0){
        return true;
      }else if(this.picked.localeCompare("two") == 0){
        return true;
      }else{
        return false;
      }
    },

    //Propiedad calculada para filtrar los blobs
    filtrarBlobs() {
      let blobs = [];
      let fecha = "";

      for(let i = 0; i < this.selectedPeriodo.length; i++){ 
        for(let j = 0; j < this.blobs.length; j++){
          if(this.blobs[j].endsWith(this.selectedPeriodo[i] + ".tar.gz")){
            blobs.push(this.blobs[j]);
          }
        }
      }

      if(this.picked.localeCompare("one") == 0){
        if(this.selectedPeriodo.length > 0){
          return blobs;
        }else{
          return this.blobs;
        }
      }else if(this.picked.localeCompare("two") == 0){
        let blobs1 = [];
        if(this.selectedPeriodo.length > 0){
          blobs1 = blobs;
        }else{
          blobs1 = this.blobs;
        }
        let blobs2 = [];
        let aux = "";
        fecha = this.dateToString();
        for(let i = 0; i < blobs1.length; i++){
          aux = blobs1[i];
          if(aux.indexOf("-") > -1){
            aux = aux.slice(aux.indexOf("-")+1, aux.indexOf("-")+9)
            if(aux.includes(fecha)){
              blobs2.push(blobs1[i]);
            }
          }
        }
        return blobs2;

      }else{
        let blobs1 = [];
        if(this.selectedPeriodo.length > 0){
          blobs1 = blobs;
        }else{
          blobs1 = this.blobs;
        }
        let blobs2 = [];
        let aux = "";
        fecha = this.dateToString();
        for(let i = 0; i < blobs1.length; i++){
          aux = blobs1[i];
          if(aux.indexOf("-") > -1){
            aux = aux.slice(aux.indexOf("-")+3, aux.indexOf("-")+9)
            if(aux.includes(fecha)){
              blobs2.push(blobs1[i]);
            }
          }
        }
        return blobs2;

      }

    },

    //Bandera para habilitar el boton de guardar
    banderaGuardar() {
      if(this.files.length == 0 || (this.selected.localeCompare("") == 0)){
        return true;
      }else{
        if(this.files[0].success){
          return false;
        }
      }
      return true;
    },

    //Bandera para habilitar el boton de limpiar
    banderaLimpiar() {
      if(this.files.length == 0){
        return true;
      }else{
        return false;
      }
    },

  },

  methods: {

    //Metodo para mostrar el modal "subirBlob"
    show: function () {
      this.$modal.show('subirBlob');
    },

    //Metodo para mostrar el modal "esperar"
    show1: function () {
      this.$modal.show('esperar');
    },

    //Metodo para mostrar el modal "guardado"
    show2: function () {
      this.$modal.show('guardado');
    },

    //Metodo para mostrar el modal "errores"
    show3: function () {
      this.$modal.show('errores');
    },

    //Metodo para esconder el modal "subirBlob"
    hide: function () {
      this.$modal.hide('subirBlob');
    },

    //Metodo para esconder el modal "esperar"
    hide1: function () {
      this.msjEsperar = '';
      this.$modal.hide('esperar');
    },

    //Metodo para esconder el modal "guardado"
    hide2: function () {
      this.$modal.hide('guardado');
    },

    //Metodo para esconder el modal "errores"
    hide3: function () {
      this.msjError='';
      this.$modal.hide('errores');
    },

    //Metodo para esperar, utiliza ms, 1000ms = 1sg
    sleep: function (ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },

    //Metodo para pasar una fecha a un string
    dateToString: function () {
      let dia = "";
      let mes = "";
      let año = "";
      año = this.fecha.getFullYear();

      if(this.fecha.getDate() < 10){
        dia= "0" + this.fecha.getDate();
      }else{
        dia= this.fecha.getDate();
      }

      if(this.fecha.getMonth() < 9){
        mes= "0" + (this.fecha.getMonth() + 1);
      }else{
        mes= (this.fecha.getMonth() + 1);
      }
      
      if(this.picked.localeCompare("two") == 0){
        return dia+mes+año;
      }else{
        return ''+mes+año;
      }

    },

    //Funcion para subir un blob a azure.
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    guardar: async function () {
      let filesName = [];
      let i = 0;

      for(i=0; i < this.files.length; i++){
        if(this.files[i].success){
          filesName[i] = this.files[i].name;
        }
      }

      if(this.nombre.localeCompare("") == 0){
        this.nombre = this.$route.params.sectionSlug;
      }

      await this.sleep(100);

      await this.$http.post(this.hostServer + `/SubirA/` + this.$route.params.sectionSlug + `/` + this.selected + '/' + JSON.parse(localStorage.getItem('userXpectra')), {
        filesNames: filesName,
        nombre: this.nombre
      }).then(response => {
        if(response.status === 200) {
          this.blobGuardado = response.body;
          this.$refs.upload.clear();
          this.selected = '';
          this.nombre = '';
          this.hide1();
          this.hide();
          this.show2();
          this.refrescar();
        }
      }, function () {
          this.msjError = 'Error al guardar el blob';
          this.hide1();
          this.show3();
      })
    },

    //Funcion para actualizar el array de blobs.
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    refrescar: async function () {
      await this.$http.get(this.hostServer + `/Blobs` + this.$route.params.sectionSlug)
      .then(async response => {
        if(response.status === 200) {
          this.blobs = response.body
          await this.sleep(1000);
          this.hide1();
        }
      }, function () {
          this.msjError = 'Error al refrescar los blobs';
          this.show3();
      })
    },

    //Funcion para la descarga de un blob.
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    descargarB: async function (blob) {
      await this.$http.get(this.hostServer + `/BlobsD/` + this.$route.params.sectionSlug + `/` + blob)
      .then(async response => {
        if(response.status === 200) {
          window.open(response.body, '_self','noopener');
        }
      }, function () {
          this.msjError = 'Error al descargar el blob';
          this.show3();
      })
    },

  },

  //Guarda los nombres de los blobs del container en el array blobs, 
  //despues de que la instancia sea creada.
  mounted() {

    this.link = this.hostServer + "/Subir/" + JSON.parse(localStorage.getItem('userXpectra')), //Link del post

    this.$http.get(this.hostServer + `/Blobs` + this.$route.params.sectionSlug)
    .then(response => {
      if(response.status === 200) {
        this.blobs = response.body
      }
    }, function () {
        this.msjError = 'Error al cargar los blobs';
        this.show3();
    })

  },
  
}
</script>