<!--

  Plantilla de Servidores
  Contiene:

    -Servidores (Visualizar los servidores registrados)
      -Agregar (Registrar un nuevo servidor)
      -Eliminar (Eliminar un servidor existente)
      -visualizar (Ver la informacion del servidor)
      
--> 

<template>

  <!-- Div principal de la plantilla --> 
  <div class="main-content" style="text-align: center;">

    <!-- Div del titulo -->
    <div class="main-content__top">
        <h1 class="main-content__title">
            SERVIDORES
        </h1>
    </div>

    <!-- Div de los servidores -->
    <div class="main-content__body" style="font-family: 'Arial Black', sans-serif; min-width: 400px;">

      <!-- Div del sub-titulo -->
      <p style="text-align:center; font-size: 1.5em; margin-bottom: 5px;">
        <strong>Servidores</strong>
        <!-- Boton para agregar otro servidor -->
        <button 
          type="button" 
          class="button"
          style="margin-left: 20px;"
          @click.prevent="show1()"
        >
          <i class="fas fa-plus"></i>
        </button>
      </p>

      <!-- Div donde se muestran los servidores -->
      <div class="main-content__body2" style="margin-top: 10px; height: 400px;">

        <div 
          class='main-content__body3' 
          style="text-align: left; padding-left: 20px;" 
          v-for="n in servidores.length" :key="n"
        >

          <!-- Nombre del servidor -->
          <div class="nombreBlob" style="width: 87%; text-align: center;">
            {{servidores[n - 1].hostName}}
          </div>

          <!-- Boton para eliminar el servidor --> 
          <div class="eliminarBtn" style="width: 5%;">

            <a
              href="#"
              @click.prevent="selectServidor= (n - 1), hostName= servidores[n - 1].hostName, show3()"
              >
              <i class="fas fa-trash-alt"></i>
            </a>

          </div>

          <!-- Boton para visualizar el servidor --> 
          <div class="descargaBtn" style="width: 5%; margin-right: 2px;">

            <a
              href="#"
              @click.prevent="
                hostName= servidores[n - 1].hostName, 
                ip= servidores[n - 1].ip, 
                user= servidores[n - 1].user, 
                password= servidores[n - 1].password,
                port= servidores[n - 1].port,
                show2()
              "
              >
              <i class="fas fa-edit"></i>
            </a>

          </div>

        </div>

      </div>

    </div>

    <!-- Modal para agregar un nuevo servidor -->
    <modal 
      name="agregar"
      height="auto"
      width="400px"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >
        <br>
        <div style="text-align: center; font-size: 1.4em;"> Crear servidor </div>
        <div style="text-align: right;">
          <br>
          <div v-if="!hostValid"></div>
          <div 
            style="text-align: center; font-size: 0.7em; color: rgb(255, 98, 98); margin: -16px 0px 0px 110px;"
            v-else
          > 
            El hostName ya existe
          </div>
          <label for="HostName" style="margin-top: 5px;">HostName:</label>
          <input type="text" v-model="hostName" class="entrada" style="width: 50%; margin-left: 20px; margin-right: 30px;">
          <br>
          <label for="IP">IP:</label>
          <input type="text" v-model="ip" class="entrada" style="width: 50%; margin-left: 20px; margin-right: 30px;">
          <br>
          <label for="User">User:</label>
          <input type="text" v-model="user" class="entrada" style="width: 50%; margin-left: 20px; margin-right: 30px;">
          <br>
          <label for="Password">Password:</label>
          <input type="text" v-model="password" class="entrada" style="width: 50%; margin-left: 20px; margin-right: 30px;">
          <br>
          <label for="Port">Port:</label>
          <input type="text" v-model="port" class="entrada" style="width: 50%; margin-left: 20px; margin-right: 30px;">
          <br><br>
        </div>
        
        <button 
          type="button" 
          class="btn btn-success"
          disabled="disabled"
          v-if="crear || hostValid"
        >
          Crear
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          @click.prevent="crearServidor()"
          v-else
        >
          Crear
        </button>

      </div>
      
    </modal>

    <!-- Modal para ver la informacion del servidor -->
    <modal 
      name="ver"
      height="auto"
      width="400px"
      :clickToClose="false"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >
        <br>
        <div style="text-align: center; font-size: 1.4em;"> Servidor </div>
        <div style="text-align: right;">
          <br>
          <label for="HostName" style="margin-top: 5px;">HostName:</label>
          <input type="text" disabled="disabled" v-model="hostName" class="entrada" style="width: 50%; margin-left: 20px; margin-right: 30px; background-color: rgba(255, 255, 255, 0.3);">
          <br>
          <label for="IP">IP:</label>
          <input type="text" v-model="ip" class="entrada" style="width: 50%; margin-left: 20px; margin-right: 30px;">
          <br>
          <label for="User">User:</label>
          <input type="text" v-model="user" class="entrada" style="width: 50%; margin-left: 20px; margin-right: 30px;">
          <br>
          <label for="Password">Password:</label>
          <input type="text" v-model="password" class="entrada" style="width: 50%; margin-left: 20px; margin-right: 30px;">
          <br>
          <label for="Port">Port:</label>
          <input type="text" v-model="port" class="entrada" style="width: 50%; margin-left: 20px; margin-right: 30px;">
          <br>
        </div>

        <button 
          type="button" 
          class="btn btn-danger"
          style="margin-right: 50px; margin-top: 15px;"
          @click.prevent="hide2()"
        >
          Cancelar
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          style="margin-top: 15px;"
          @click.prevent="modificarServidor()"
        >
          Modificar
        </button>

      </div>
      
    </modal>

    <!-- Modal para verificar que se quiere elminar el servidor --> 
    <!-- clickToClose, si es "false" el modal no se cerrara al dar click fuera del modal -->
    <modal 
      name="eliminar"
      height="auto"
      width="400px"
      :clickToClose="false"
    >

      <div 
        class="main-content__body" 
        style="
          font-family: 'Arial Black', sans-serif;
          min-width: 200px; 
          max-width: 400px;
          margin: 0px;
          background-color: rgba(0, 0, 0, 0.9);"
      >

        <br>
        Seguro de que desea eliminar el servidor:<br><br>
        {{hostName}}<br><br>

        <button 
          type="button" 
          class="btn btn-danger"
          style="margin-right: 20px; width: 50px;"
          @click.prevent="hide3()"
        >
          NO
        </button>

        <button 
          type="button" 
          class="btn btn-success"
          style="margin-left: 20px; width: 50px;"
          @click.prevent="eliminarServidor()"
        >
          SI
        </button>

      </div>
      
    </modal>

    <!-- Modal para avisar que ocurrio un error -->
    <modal 
      name="errores"
      height="auto"
      width="300px"
    >
      <div class="cuadroDialog" >
        <br>{{msjError}}<br><br>
        <button 
          type="button" 
          class="btn btn-danger"
          @click.prevent="hide4()"
        >
          Ok
        </button>
      </div>
    </modal>

  </div>

</template>

<script>

export default {
  name: 'servidoresU',

  data() {
    return {
      hostServer: 'http://192.168.3.140:3000', //Direccion del servidor
      hostName: '', //HostName del servidor
      ip: '', //IP del servidor
      user: '', //User del servidor
      password: '', //Password del servidor
      port: '', //Password del servidor
      selectServidor: -1, //Servidor selecionado
      servidores: [], //servidores:[{hostName: '', ip: '', user: '', password: '', port: ''}]
      msjError:'', //Mensaje de error
    };
  },

  computed: {

    //Verifica que las casillaspara crear el servidor no esten vacias
    crear() {
      if(this.hostName.localeCompare("") == 0 || this.ip.localeCompare("") == 0 || this.user.localeCompare("") == 0 || this.password.localeCompare("") == 0 || this.port.localeCompare("") == 0){
        return true;
      }else{
        return false;
      }
    },

    //Verifica que el hostName no exista
    hostValid() {
      for(let n in this.servidores){
        if(this.hostName.localeCompare(this.servidores[n].hostName) == 0){
          return true;
        }
      }
      return false;
    },

  },

  methods: {

    //Metodo para mostrar el modal "agregar"
    show1: function () {
      this.hostName= '';
      this.ip= '';
      this.user= '';
      this.password= '';
      this.port= '';
      this.$modal.show('agregar');
    },

    //Metodo para mostrar el modal "ver"
    show2: function () {
      this.$modal.show('ver');
    },

    //Metodo para mostrar el modal "eliminar"
    show3: function () {
      this.$modal.show('eliminar');
    },

    //Metodo para mostrar el modal "errores"
    show4: function () {
      this.$modal.show('errores');
    },

    //Metodo para esconder el modal "agregar"
    hide1: function () {
      this.hostName = "";
      this.ip = "";
      this.password = "";
      this.user = "";
      this.port = "";
      this.$modal.hide('agregar');
    },

    //Metodo para esconder el modal "ver"
    hide2: function () {
      this.hostName= '';
      this.ip= '';
      this.user= '';
      this.password= '';
      this.port= '';
      this.$modal.hide('ver');
    },

    //Metodo para esconder el modal "eliminar"
    hide3: function () {
      this.hostName = '';
      this.selectServidor= -1;
      this.$modal.hide('eliminar');
    },

    //Metodo para esconder el modal "errores"
    hide4: function () {
      this.msjError='';
      this.$modal.hide('errores');
    },

    //Metodo para modificar un servidor del usuario
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    modificarServidor: async function () {
      let servidores1 = [];
      for(let serv in this.servidores){
        if(this.servidores[serv].hostName.localeCompare(this.hostName) != 0){
          servidores1.push(this.servidores[serv]);
        }else{
          servidores1.push({hostName: this.hostName, ip: this.ip, password: this.password, user: this.user, port: this.port})
        }
      }

      await this.$http.post(this.hostServer + '/ServidoresUsers/' + JSON.parse(localStorage.getItem('userXpectra')), {
          servidores: servidores1
        }).then(async function (response) {
          if (response.status === 200) {
            this.servidores = response.body;
            this.msjError = 'Se ha modificado el servidor';
            this.hide2();
            this.show4();
          }
        }, function () {
          this.msjError = 'Error al modificar el servidor';
          this.hide2();
          this.show4();
      });

    },

    //Metodo para actualizar los servidores del usuario
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    crearServidor: async function () {

      this.servidores.push({hostName: this.hostName, ip: this.ip, password: this.password, user: this.user, port: this.port})
      await this.$http.post(this.hostServer + '/ServidoresUsers/' + JSON.parse(localStorage.getItem('userXpectra')), {
          servidores: this.servidores
        }).then(async function (response) {
          if (response.status === 200) {
            this.servidores = response.body;
            this.hide1();
          }
        }, function () {
          this.msjError = 'Error al crear el servidor';
          this.hide1();
          this.show4();
      });

    },

    //Metodo para eliminar un servidor del usuario
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    eliminarServidor: async function () {

      let aux=[];
      for(let serve in this.servidores){
        if(serve != this.selectServidor){
          aux.push(this.servidores[serve]);
        }
      }
      
      await this.$http.post(this.hostServer + '/ServidoresUsers/' + JSON.parse(localStorage.getItem('userXpectra')), {
          servidores: aux
        }).then(async function (response) {
          if (response.status === 200) {
            this.servidores = response.body;
            this.hide3();
          }
        }, function () {
          this.msjError = 'Error al eliminar el servidor';
          this.hide3();
          this.show4();
      });

    },
    
  },

  //Guarda los servidores en el array servidores, 
  //despues de que la instancia sea creada.
  mounted() {

    this.$http.get(this.hostServer + `/ServidoresUsers/` + JSON.parse(localStorage.getItem('userXpectra')))
    .then(response => {
      if(response.status === 200) {
        this.servidores = response.body
      }
    }, function () {
          this.msjError = 'Error al cargar los servidores';
          this.show4();
    });
    

  },
}

</script>
