<template>

  <div :key="componentKey2">

    <div id="wrapper" :class="wrapperClass" v-if="band == 1">

      <MenuToggleBtn></MenuToggleBtn>

      <Menu></Menu>

      <ContentOverlay></ContentOverlay>

      <router-view @updating="actualizar" :key="componentKey"></router-view>

    </div>

    <div id="wrapper" :class="wrapperClass" v-else-if="band == 2">

      <MenuToggleBtn></MenuToggleBtn>

      <MenuUsers></MenuUsers>

      <ContentOverlay></ContentOverlay>

      <router-view @updating="actualizar" :key="componentKey"></router-view>

    </div>

    <div v-else>
      
      <login></login>

    </div>

    <!-- Modal para avisar que ocurrio un error -->
    <modal 
      name="error"
      height="auto"
      width="300px"
    >
      <div class="cuadroDialog" >
        <br>{{msjError}}<br><br>
        <button 
          type="button" 
          class="btn btn-danger"
          @click.prevent="hide1()"
        >
          Ok
        </button>
      </div>
    </modal>

  </div>

</template>

<script>
import MenuToggleBtn from '@/components/MenuToggleBtn.vue'
import Menu from '@/components/Menu.vue'
import MenuUsers from '@/components/Menu2.vue'
import ContentOverlay from '@/components/ContentOverlay.vue'
import login from '@/views/Login.vue'

export default {
  name: 'app',

  components: {
    MenuToggleBtn,
    Menu,
    ContentOverlay,
    login,
    MenuUsers,
  },
 
  data() {
    return {
      hostServer: 'http://192.168.3.140:3000', //Direccion del servidor
      isOpenMobileMenu: false,
      ticker: null,
      descargas: [], //Array con las descargas programadas
      componentKey: 0, //Identificardor del div, al cambiarlo se elimina el div actual y se crea uno nuevo
      componentKey2: 0, //Identificardor del div, al cambiarlo se elimina el div actual y se crea uno nuevo
      msjError: '', //Mensaje del modal "error"
      existSession: false, //Si exites una session es true
    };
  },

  created() {

    this.existSession = this.$session.exists();

    //Verificar si hay una sesion abierta, si no hay se redirigue a la plantilla "Login"
    if(!this.$session.exists()) {
      this.$router.push('/login');
    }else if(this.$session.exists() && (this.$route.path == '/') && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") == 0)) {
      this.$router.push('/inicio');
    }else if(this.$session.exists() && (this.$route.path == '/login') && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") == 0)) {
      this.$router.push('/inicio');
    }else if(this.$session.exists() && (this.$route.path == '/inicioU' || this.$route.path == '/inicio') && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") == 0)) {
      this.$router.push('/inicio');
    }else if(this.$session.exists() && (this.$route.path == '/containersU' || this.$route.path == '/containers') && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") == 0)) {
      this.$router.push('/containers');
    }else if(this.$session.exists() && (this.$route.path == '/servidoresU' || this.$route.path == '/servidores') && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") == 0)) {
      this.$router.push('/servidores');
    }else if(this.$session.exists() && (this.$route.path == '/usuarios') && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") == 0)) {
      this.$router.push('/usuarios');
    }else if(this.$session.exists() && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") == 0)) {
      this.$router.push('/inicio');
    }else if(this.$session.exists() && (this.$route.path == '/login') && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") != 0)) {
      this.$router.push('/inicioU');
    }else if(this.$session.exists() && (this.$route.path == '/inicio' || this.$route.path == '/inicioU') && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") != 0)) {
      this.$router.push('/inicioU');
    }else if(this.$session.exists() && (this.$route.path == '/containers' || this.$route.path == '/containersU') && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") != 0)) {
      this.$router.push('/containersU');
    }else if(this.$session.exists() && (this.$route.path == '/servidores' || this.$route.path == '/servidoresU') && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") != 0)) {
      this.$router.push('/servidoresU');
    }else if(this.$session.exists() && ((JSON.parse(localStorage.getItem('userXpectra'))).localeCompare("admin") != 0)) {
      this.$router.push('/inicioU');
    }

    //Para cerrar y abrir el menu
    window.bus.$on('menu/toggle', () => {
      window.setTimeout(() => {
        this.isOpenMobileMenu = !this.isOpenMobileMenu;
      }, 200);
    });

    //Para cerrar el menu
    window.bus.$on('menu/closeMobileMenu', () => {
      this.isOpenMobileMenu = false;
    });

    //Para iniciar session
    window.bus.$on('iniciar', async (usuario, cont) => {
      this.$session.start();
      this.$session.set('jwt', (usuario+cont+'5as8df'));
      window.localStorage.setItem('userXpectra', JSON.stringify(usuario));
      this.existSession = this.$session.exists();
      if(!this.$session.exists()) {
        this.$router.push('/login');
      }else if(this.$session.exists() && (this.$route.path == '/login') && ( this.band == 1 )) {
        this.$router.push('/inicio');
      }else if(this.$session.exists() && (this.$route.path == '/login') && ( this.band == 2 )) {
        this.$router.push('/inicioU');
      }
      this.componentKey2 += 1;
    });

    //Para cerrar session
    window.bus.$on('finalizar', async () => {
      this.$session.destroy()
      localStorage.removeItem('userXpectra');
      this.existSession = this.$session.exists();
      this.$router.push('/login');
      this.isOpenMobileMenu = false;
      this.componentKey2 += 1;
    });

    //Verifica si hay una descarga por hacer, y si hay la manda a hacer,
    //revisa cada 30segundos, 1000ms = 1seg
    this.ticker = setInterval(() => {
      let aux = new Date;
      let hora = "";
      let min = "";
      let seg = "";
      let dia = "";
      let mes = "";
      let año = aux.getFullYear();

      if(aux.getDate() < 10){
        dia= "0" + aux.getDate();
      }else{
        dia= aux.getDate();
      }

      if(aux.getMonth() < 10){
        mes= "0" + (aux.getMonth() + 1);
      }else{
        mes= (aux.getMonth() + 1);
      }

      if(aux.getHours() < 10){
        hora= "0" + (aux.getHours());
      }else{
        hora= (aux.getHours());
      }

      if(aux.getMinutes() < 10){
        min= "0" + (aux.getMinutes());
      }else{
        min= (aux.getMinutes());
      }

      if(aux.getSeconds() < 10){
        seg= "0" + (aux.getSeconds());
      }else{
        seg= (aux.getSeconds());
      }
      
      let time = dia + '/' + mes + '/' + año + ' - ' + hora + ':' + min + ':' + seg;
      let diaR = Number(time.slice(0, 2));
      let mesR = Number(time.slice(3, 5));
      let añoR = Number(time.slice(6, 10));
      let horaR = Number(time.slice(13, 15));
      let minR = Number(time.slice(16, 18));
      this.descargar(horaR, minR, diaR, mesR, añoR);
    }, 30000);

  },

  destroyed() {
    clearInterval(this.ticker);
  },

  computed: {

    wrapperClass() {
      return {
        'toggled': this.isOpenMobileMenu === true,
      };
    },

    //verifica si hay una sesion abierta y que tipo de sesion es.
    //Si es administrador devuelve 1.
    //Si es un usuario normal devuelve 2.
    //Si no hay sesion abierta devuelve 0.
    band() {
      if(this.existSession){
        if(JSON.parse(localStorage.getItem('userXpectra')).localeCompare('admin') == 0){
          return 1;
        }else{
          return 2;
        }
      }else{
        return 0;
      }
    },

  },

  methods: {

    //Metodo para mostrar el modal "error"
    show1: function () {
      this.$modal.show('error');
    },

    //Metodo para esconder el modal "error"
    hide1: function () {
      this.msjError='';
      this.$modal.hide('error');
    },

    //Metodo para esperar, utiliza ms, 1000ms = 1sg
    sleep: function (ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },

    //Metodo para descargar el ultimo blob de un container
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    descargar: async function (horaR, minR, diaR, mesR, añoR) {

      for(let descarga in this.descargas){
        let hora = Number(this.descargas[descarga].hora.slice(0, 2));
        let min = Number(this.descargas[descarga].hora.slice(3, 5));
        var dia = Number(this.descargas[descarga].fecha.slice(0, 2));
        var mes = Number(this.descargas[descarga].fecha.slice(3, 5));
        var año = Number(this.descargas[descarga].fecha.slice(6, 10));

        if( (añoR == año && mesR == mes && diaR == dia && horaR == hora && minR >= min) || (añoR == año && mesR == mes && diaR == dia && horaR > hora) || (añoR == año && mesR == mes && diaR > dia) || (añoR == año && mesR > mes) || (añoR > año)){
          await this.$http.get(this.hostServer + `/BlobDescargaUltimo/` + this.descargas[descarga].container)
          .then(async response => {
            if(response.status === 200) {
              window.open(response.body, '_blank','noopener');
              this.eliminarDescargaP(descarga);
              if(this.$route.path == '/inicio' || this.$route.path == '/inicioU'){
                await this.sleep(1000);
                this.componentKey += 1; 
              }
              return;
            }
          });
        }

      }

    },

    //Metodo para eliminar una descarga programada del usuario
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    eliminarDescargaP: async function (selectDescarga) {

      let aux=[];
      for(let descarga in this.descargas){
        if(descarga != selectDescarga){
          aux.push(this.descargas[descarga]);
        }
      }
      
      await this.$http.post(this.hostServer + '/DescargasUsers/' + JSON.parse(localStorage.getItem('userXpectra')), {
          descargaP: aux
        }).then(async function (response) {
          if (response.status === 200) {
            this.descargas = response.body;
          }
        }, function () {
        this.msjError = 'Error al eliminar la descarga programada, porfavor eliminela manualmente o espere a que se descargue de nuevo';
        this.show1();
      });

    },

    //Metodo para guardar las descargas programadas del usuario en el array "descargas"
    //La funcion se comunica con la api,
    //si no esta corriendo la api la funcion no servira.
    actualizar: async function () {

      await this.$http.get(this.hostServer + '/DescargasUsers/' + JSON.parse(localStorage.getItem('userXpectra')))
      .then(response => {
        if(response.status === 200) {
          this.descargas = response.body
        }
      }, function () {
        this.msjError = 'Error al cargar las descargas programadas, porfavor recarge la pagina, si el error persiste comuniquese con el administrador';
        this.show1();
      });

    },

  },

  //Guarda las descargas programadas del usuario en el array descargas, 
  //despues de que la instancia sea creada.
  mounted() {

    if(this.$session.exists()){
      this.$http.get(this.hostServer + '/DescargasUsers/' + JSON.parse(localStorage.getItem('userXpectra')))
      .then(response => {
        if(response.status === 200) {
          this.descargas = response.body
        }
      }, function () {
        this.msjError = 'Error al cargar las descargas programadas, porfavor recarge la pagina, si el error persiste comuniquese con el administrador';
        this.show1();
      });
    }
    
  },

}

</script>

<style lang="scss">
  @import 'styles/layout.scss';
  @import 'styles/botones.scss';
  @import 'styles/scrollbar.scss';
  @import 'styles/timeselector.scss';
  @import 'styles/animaciones.scss';
  @import 'styles/checkmark.scss';
  @import 'styles/modal.scss';
  @import 'styles/datepicker.scss';
  @import 'styles/upload.scss';
  @import 'styles/menu-toggle-btn.scss';
  @import 'styles/menu.scss';
  @import 'styles/content-overlay.scss';
  @import 'styles/media-queries.scss';
</style>
